<div class="site-container">

  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1 class="c-content-box__header__title">There are currently no jobs available.</h1>
        <p>There are a number of jobs on the <a href="https://fiec.org.uk/jobs">FIEC jobs board</a>.</p>
      </div>
    </main>
  </section>

  <section class="c-blog-list">

    <header class="c-blog-list__header">
      <h1>Where next?</h1>
    </header>

    <%= link_to(page_path('about'), class: 'c-blog-list__item') do %>
      <div class="c-blog-list__item__body">
        <h2 class="c-blog-list__item__title">About The Globe Church</h2>

        <p class="c-blog-list__item__teaser">
          The Globe Church is all about sharing the good news of Jesus Christ to those living, working or visiting the Southbank of London.
        </p>

        <div class="u-btn" href="#">Find out more</div>
      </div>


      <div class="c-blog-list__item__image js-object-fit-container">
        <span></span>
          <%=
          responsive_image_tag(
            {
              "320": asset_path("static-banner/about/mark-drama_320.jpg"),
              "640": asset_path("static-banner/about/mark-drama_640.jpg"),
              "960": asset_path("static-banner/about/mark-drama_960.jpg"),
              "1280": asset_path("static-banner/about/mark-drama_1280.jpg"),
              "1920": asset_path("static-banner/about/mark-drama_1920.jpg"),
              "2560": asset_path("static-banner/about/mark-drama_2560.jpg"),
            },
            sizes:['50vw'],
            alt: ''
          )
        %>
      </div>
    <% end %>

    <%= link_to(page_path('about/team'), class: 'c-blog-list__item') do %>
      <div class="c-blog-list__item__body">
        <h2 class="c-blog-list__item__title">Eldership and staff team</h2>

        <p class="c-blog-list__item__teaser">
          The Globe Church is about the whole church family living as disciples of Christ, but a few people have especially committed to serve the church and work to see its vision flourish…
        </p>

        <div class="u-btn" href="#">Find out more</div>
      </div>


      <div class="c-blog-list__item__image js-object-fit-container">
        <span></span>
          <%=
          responsive_image_tag(
            {
              "320": asset_path("static-banner/about/staff_320.jpg"),
              "640": asset_path("static-banner/about/staff_640.jpg"),
              "960": asset_path("static-banner/about/staff_960.jpg"),
              "1280": asset_path("static-banner/about/staff_1280.jpg"),
              "1920": asset_path("static-banner/about/staff_1920.jpg"),
              "2560": asset_path("static-banner/about/staff_2560.jpg"),
            },
            sizes:['50vw'],
            alt: ''
          )
        %>
      </div>
    <% end %>

    <%= link_to(page_path('about/doctrinal-basis'), class: 'c-blog-list__item') do %>
      <div class="c-blog-list__item__body">
        <h2 class="c-blog-list__item__title">What we believe</h2>

        <p class="c-blog-list__item__teaser">
          As a church it’s important to know what we believe. We have a list of our core doctrinal beliefs.
        </p>

        <div class="u-btn" href="#">Keep reading</div>
      </div>

      <div class="c-blog-list__item__image js-object-fit-container">
        <span></span>
        <%=
          responsive_image_tag(
            {
              "320": asset_path("static-banner/the-globe-church-blog_320.jpg"),
              "640": asset_path("static-banner/the-globe-church-blog_640.jpg"),
              "960": asset_path("static-banner/the-globe-church-blog_960.jpg"),
              "1280": asset_path("static-banner/the-globe-church-blog_1280.jpg"),
              "1920": asset_path("static-banner/the-globe-church-blog_1920.jpg"),
              "2560": asset_path("static-banner/the-globe-church-blog_2560.jpg"),
            },
            sizes:['50vw'],
            alt: ''
          )
        %>
      </div>
    <% end %>

  </section>
</div>
