<div class="site-container">

  <section class="c-content-box">
    <main class="c-content-box__main">

      <div class="c-content-box__main__container">
        <h1 class="c-content-box__header__title">Pastor for Ministry Development</h1>
        <p>This is a leadership role on the church staff team focusing on managing the development of the life of the church, overseeing the implementation of the church vision by helping empower both staff and members in ministry development and exercising a pastoral care and teaching ministry.</p>

        <h2>Job Description</h2>
        <p>The role involves the following:</p>
        <ul>
          <li>To work alongside the Lead Pastor in developing the strategic and practical implementation of the church vision</li>
          <li>To share in the preaching and teaching ministry of the church and shaping the content of our public gatherings</li>
          <li>To oversee the practical running of the church, with a particular emphasis on the training and mobilising of our ministry serving teams to be increasingly effective in serving the Lord Jesus</li>
          <li>To take responsibility for the church calendar and implementing changes that will lead to better delivery of our church values and vision</li>
          <li>As an elder and trustee, to attend monthly Elders Meetings, Sunday Services, leaders and church meetings</li>
        </ul>

        <h2>Person Specification</h2>
        <p>A committed Christian who:</p>
        <ul>
          <li>Models a godly life and is of good reputation with those inside and outside the church</li>
          <li>Has a passion for God, a love of His Word and a commitment to spend quality time in study in order to teach others </li>
          <li>Evidences a pastoral heart and a love for God’s people and a willingness to pray daily for the Lord's blessing upon the church</li>
          <li>An aptitude to be part of a creative process of leadership </li>
          <li>A proven ability in taking initiative and the ability to initiate change and carry through plans to completion</li>
          <li>Would be passionate to join a team committed to loving Christ, His people and the lost, convinced that the Bible is God’s sufficient and inerrant word and is fully supportive of the church vision</li>
          <li>Evidences a proven ability in management and team leadership in a secular or church context, has good planning and personnel skills, good financial management skills and the ability to maximise the efficient use of resources to achieve a goal</li>
          <li>Evidences a teachable spirit and desire to be a committed team player and grow as a servant of Christ</li>
        </ul>        

        <h2>Context</h2>
        <p>The Globe Church has approximately 140 adults who attend regularly, a small number of children, and a membership of around 60. The church was planted in 2015 and has drawn people from different church backgrounds and nationalities, as well as seeing a few come to faith in that time. We are based in the London Bridge area, but also with members living around the city. Globe is largely but not exclusively made up of young workers and some students.</p>
        <p>The Borough of Southwark is home to over 300,000 people, with many living in the London Bridge area as well as bringing in visitors and tourists, businesses, arts establishments, and much more.</p>
      </div>

      <aside class="c-content-box__aside">
        <ul class="c-icon-list">

          <li class="c-icon-list__item">
            <a>
              <%= svg_tag('calendar', class: 'c-icon-list__item__icon') %>
              <span>
                Deadline:<br />28th Feb 2019
              </span>
            </a>
          </li>

          <li class="c-icon-list__item">
            <%=link_to("/assets/job-pfmd.docx", { download: 'The Globe Church - Application Form - Pastor for Ministry Development.docx'} ) do %>
              <%= svg_tag('download', class: 'c-icon-list__item__icon') %>
              <span>
                Application Form
              </span>
            <% end %>
          </li>

          <li class="c-icon-list__item">
            <%=link_to("/assets/job-pfmd.pdf", { download: 'The Globe Church - Job Description - Pastor for Ministry Development.pdf'} ) do %>
              <%= svg_tag('download', class: 'c-icon-list__item__icon') %>
              <span>
                Job Description
              </span>
            <% end %>
          </li>

        </ul>
      </aside>

    </main>
  </section>

  <section class="c-blog-list">

    <header class="c-blog-list__header">
      <h1>Where next?</h1>
    </header>

    <%= link_to(page_path('about'), class: 'c-blog-list__item') do %>
      <div class="c-blog-list__item__body">
        <h2 class="c-blog-list__item__title">About The Globe Church</h2>

        <p class="c-blog-list__item__teaser">
          The Globe Church is all about sharing the good news of Jesus Christ to those living, working or visiting the Southbank of London.
        </p>

        <div class="u-btn" href="#">Find out more</div>
      </div>


      <div class="c-blog-list__item__image js-object-fit-container">
        <span></span>
          <%=
          responsive_image_tag(
            {
              "320": asset_path("static-banner/about/mark-drama_320.jpg"),
              "640": asset_path("static-banner/about/mark-drama_640.jpg"),
              "960": asset_path("static-banner/about/mark-drama_960.jpg"),
              "1280": asset_path("static-banner/about/mark-drama_1280.jpg"),
              "1920": asset_path("static-banner/about/mark-drama_1920.jpg"),
              "2560": asset_path("static-banner/about/mark-drama_2560.jpg"),
            },
            sizes:['50vw'],
            alt: ''
          )
        %>
      </div>
    <% end %>

    <%= link_to(page_path('about/team'), class: 'c-blog-list__item') do %>
      <div class="c-blog-list__item__body">
        <h2 class="c-blog-list__item__title">Eldership and staff team</h2>

        <p class="c-blog-list__item__teaser">
          The Globe Church is about the whole church family living as disciples of Christ, but a few people have especially committed to serve the church and work to see its vision flourish…
        </p>

        <div class="u-btn" href="#">Find out more</div>
      </div>


      <div class="c-blog-list__item__image js-object-fit-container">
        <span></span>
          <%=
          responsive_image_tag(
            {
              "320": asset_path("static-banner/about/staff_320.jpg"),
              "640": asset_path("static-banner/about/staff_640.jpg"),
              "960": asset_path("static-banner/about/staff_960.jpg"),
              "1280": asset_path("static-banner/about/staff_1280.jpg"),
              "1920": asset_path("static-banner/about/staff_1920.jpg"),
              "2560": asset_path("static-banner/about/staff_2560.jpg"),
            },
            sizes:['50vw'],
            alt: ''
          )
        %>
      </div>
    <% end %>

    <%= link_to(page_path('about/doctrinal-basis'), class: 'c-blog-list__item') do %>
      <div class="c-blog-list__item__body">
        <h2 class="c-blog-list__item__title">What we believe</h2>

        <p class="c-blog-list__item__teaser">
          As a church it’s important to know what we believe. We have a list of our core doctrinal beliefs.
        </p>

        <div class="u-btn" href="#">Keep reading</div>
      </div>

      <div class="c-blog-list__item__image js-object-fit-container">
        <span></span>
        <%=
          responsive_image_tag(
            {
              "320": asset_path("static-banner/the-globe-church-blog_320.jpg"),
              "640": asset_path("static-banner/the-globe-church-blog_640.jpg"),
              "960": asset_path("static-banner/the-globe-church-blog_960.jpg"),
              "1280": asset_path("static-banner/the-globe-church-blog_1280.jpg"),
              "1920": asset_path("static-banner/the-globe-church-blog_1920.jpg"),
              "2560": asset_path("static-banner/the-globe-church-blog_2560.jpg"),
            },
            sizes:['50vw'],
            alt: ''
          )
        %>
      </div>
    <% end %>

  </section>
</div>
