<%= form_for([:admin, @livestream], html: { class: 'form m-admin-body' }) do |f| %>
<section class="m-admin-body--main">
  <div class="form__field form__field--main" data-name="youtubeId">
    <%= f.label :youtubeId, class: 'form__label' %>
    <%= f.text_field :youtubeId, class: 'form__input' %>
  </div>

  <div class="form__field js-resource-field" data-name="live_at">
    <%= f.label :live_at, class: 'form__label' %>
    <%= f.datetime_field :live_at, class: 'form__input' %>
  </div>
</section>

<section class="m-admin-body--sidebar">
  <%= render('admin/shared/form_errors', m: @livestream) %>
  <%= f.submit 'Save', class: 'form__submit u-btn u-btn--primary u-btn--100' %>

</section>

<% end %>
