<% tmp=f.options[:child_index] %>

<div class="admin-event__occurances__occur ani-slide js-event_instance js-ei-<%=tmp%>">

  <div class="admin-event__occurances__occur__main">
    <div class="form__field form__field--main" data-name="start_datetime">
      <%= f.label :start_datetime, 'Start', class: 'form__label' %>
      <%= f.hidden_field :start_datetime, class: "js-start-#{tmp}" %>
      <div class="r-datetimePicker" data-inputid="js-start-<%= tmp %>">
      </div>
    </div>

    <div class="form__field form__field--main" data-name="end_datetime">
      <%= f.label :end_datetime, 'End', class: 'form__label' %>
      <%= f.hidden_field :end_datetime, class: "js-end-#{tmp}" %>
      <div class="r-datetimePicker" data-inputid="js-end-<%= tmp %>"></div>
    </div>

    <div>
      <%= f.hidden_field :_destroy, class: "js-delete-#{tmp}" %>
      <%= link_to 'Delete', '#', class: 'js-remove-event-instance-btn u-btn u-btn--danger', data: {ei: tmp} %>
    </div>

  </div>

  <div class="admin-event__occurances__occur__extra js-event-overrides-<%= tmp %> ani-slide">
    <div class="form__field form__field--main" data-name="title">
      <%= f.label :title, class: 'form__label' %>
      <%= f.text_field :title, class: 'form__input' %>
    </div>

    <div class="form__field form__field--main" data-name="description">
      <%= f.label :description, class: 'form__label' %>
      <%= f.text_area :description, class: 'form__textarea' %>
    </div>

    <div class="r-ei-locationPicker form__field js-location-field"
         data-name="Location"
         data-inputId="event_event_instances_attributes_<%= tmp %>_location_id"
         data-currentLocationId="<%= f.object.location_id %>"
         data-locations="<%= @location_json %>">
    </div>
    <%= f.hidden_field :location_id %>

    <div class="form_field form__field--main" data-name="more-info">
      <%= f.label :link_url, class: 'form__label' %>
      <%= f.text_field :link_url, class: 'form__input' %>
    </div>

    <div class="form_field form__field--main" data-name="flag">
      <%= f.label :flag, class: 'form__label' %>      
      <%= f.select :flag,
                   Event.flags.map{ |f| [f[1], f[0]]},
                   {include_blank: true},
                   class: 'form__input form__input--select' %>
    </div>

  </div>

  <p><a href="#" class="js-toggle-event-details" data-ei="<%= tmp %>">Hide event details</a></p> 
</div>
