<%= form_for([:admin, @event], html: { class: 'form m-admin-body' }) do |f| %>
<section class="m-admin-body--main m-admin-body--main--events admin-event">

  <div class="admin-event__basics">
    <h2>Event Basics</h2>
    <div class="form__field form__field--main" data-name="title">
      <%= f.label :title, class: 'form__label' %>
      <%= f.text_field :title, class: 'form__input' %>
    </div>

    <div class="form__field form__field--main" data-name="description">
      <%= f.label :description, class: 'form__label' %>
      <%= f.text_area :description, class: 'form__textarea' %>
    </div>

    <div class="r-locationSelector form__field js-location-field"
         data-name="Location"
         data-inputId="event_location_id"
         data-currentLocationId="<%= @event.location_id %>"
         data-locations="<%= @location_json %>">
    </div>
    <%= f.hidden_field :location_id %>

    <div class="form_field form__field--main" data-name="more-info">
      <%= f.label :link_url, class: 'form__label' %>
      <%= f.text_field :link_url, class: 'form__input' %>
    </div>

    <div class="form_field form__field--main" data-name="flag">
      <%= f.label :flag, class: 'form__label' %>      
      <%= f.select :flag,
                   Event.flags.map{ |f| [f[1], f[0]]},
                   {include_blank: true},
                   class: 'form__input form__input--select' %>
    </div>
    
    <div class="r-featureImageSelector form__field js-event-field"
         data-name="lead_image"
         data-inputId="event_graphics_id"
         data-selectImageId=""
         data-selectedImageThumbnail="<%= @event.graphic.background_image_960.try('remote_url') if @event.graphic %>">
    </div>
    <%= f.hidden_field :graphics_id %>
  </div>

  <div class="admin-event__occurances">
    <h2>Event Occurances</h2>
    <div class="js-event_instances">
      <%= f.fields_for :event_instances do |ei| %>
        <%= render 'event_instance', f: ei %>
      <% end %>
    </div>
    <%= link_to_add_row('Add New', f, :event_instances, class: 'u-btn') %>
  </div>

</section>

<section class="m-admin-body--sidebar">
  <%= render('admin/shared/form_errors', m: @event) %>
  <%= f.submit 'Save', class: 'form__submit u-btn u-btn--primary u-btn--100' %>

  <hr />
 
  <% if @event.slug_can_be_changed? %>
    <div class="form__field js-resource-field" data-name="slug">
      <%= f.label :slug, class: 'form__label' %>
      <%= f.text_field :slug, class: 'form__input js-slug-field', data: {'from-input-id': 'event_title'} %>
    </div>
  <% end %>

</section>

<% end %>
