<%= form_for([:admin, @event], html: { class: 'form m-admin-body' }) do |f| %>
<section class="m-admin-body--main">

  <div class="form__field form__field--main" data-name="title">
    <%= f.label :title, class: 'form__label' %>
    <%= f.text_field :title, class: 'form__input' %>
  </div>

  <div class="form__field form__field--main" data-name="description">
    <%= f.label :description, class: 'form__label' %>
    <%= f.text_area :description, class: 'form__textarea' %>
  </div>

  <div class="r-eventInstance"></div>

  <%= f.fields_for :event_instances do |ff| %>
    <div>
      <%= ff.label :title %>
      <%= ff.text_field :title %>
    </div>
  <% end %>

</section>

<section class="m-admin-body--sidebar">
  <%= render('admin/shared/form_errors', m: @event) %>
  <%= f.submit 'Save', class: 'form__submit u-btn u-btn--primary u-btn--100' %>

  <hr />
 
  <% if @event.slug_can_be_changed? %>
    <div class="form__field js-resource-field" data-name="slug">
      <%= f.label :slug, class: 'form__label' %>
      <%= f.text_field :slug, class: 'form__input js-slug-field', data: {'from-input-id': 'event_title'} %>
    </div>
  <% end %>

</section>

<% end %>
