<div class="site-container">

  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>Join us this Sunday</h1>
        <h2>4pm at Wilcox House, 140-148 Borough High Street</h2>
        <a href="#" class="u-link u-link--arrowed u-link--black">
          <%= svg_tag('map') %>
          <span>View on a map</span>
        </a>
      </div>
    </main>
  </section>

  <div class="vision-box">
    
    <div class="vision-box__boxouter">
      <%=
        responsive_image_tag(
          {
            "320": asset_url("home-page/the-globe-church-bible-study_320.jpg"),
            "640": asset_url("home-page/the-globe-church-bible-study_640.jpg"),
            "960": asset_url("home-page/the-globe-church-bible-study_960.jpg"),
            "1280": asset_url("home-page/the-globe-church-bible-study_1280.jpg"),
            "1920": asset_url("home-page/the-globe-church-bible-study_1920.jpg"),
            "2560": asset_url("home-page/the-globe-church-bible-study_2560.jpg"),
          },
          sizes: [
            '100vw'
          ],
          class: 'vision-box__img',
          alt: ''
        )
      %>
      <%= link_to(page_path('about', anchor: "section:jesus"), class: 'vision-box__item vision-box__item--jesus') do %>
        <span class="vision-box__item__link">
          <h1 class="vision-box__item__title">
            The Globe Church is all about <strong>Jesus</strong>
          </h1>
        </span>
      <% end %>
    </div>

    <div class="vision-box__boxouter">
      <%=
        responsive_image_tag(
          {
            "320": asset_url("home-page/the-globe-church-people_320.jpg"),
            "640": asset_url("home-page/the-globe-church-people_640.jpg"),
            "960": asset_url("home-page/the-globe-church-people_960.jpg"),
            "1280": asset_url("home-page/the-globe-church-people_1280.jpg"),
            "1920": asset_url("home-page/the-globe-church-people_1920.jpg"),
            "2560": asset_url("home-page/the-globe-church-people_2560.jpg"),
          },
          sizes: [
            '100vw'
          ],
          class: 'vision-box__img',
          alt: ''
        )
      %>
      <%= link_to(page_path('about', anchor: "section:people"), class: 'vision-box__item vision-box__item--people') do %>
        <span class="vision-box__item__link">
          <h1 class="vision-box__item__title">
            Made up of all sorts of <strong>people</strong>
          </h1>
        </span>
      <% end %>
    </div>

    <div class="vision-box__boxouter">
      <%=
        responsive_image_tag(
          {
            "320": asset_url("home-page/the-globe-church-london-southwark_320.jpg"),
            "640": asset_url("home-page/the-globe-church-london-southwark_640.jpg"),
            "960": asset_url("home-page/the-globe-church-london-southwark_960.jpg"),
            "1280": asset_url("home-page/the-globe-church-london-southwark_1280.jpg"),
            "1920": asset_url("home-page/the-globe-church-london-southwark_1920.jpg"),
            "2560": asset_url("home-page/the-globe-church-london-southwark_2560.jpg"),
          },
          sizes: [
            '100vw'
          ],
          class: 'vision-box__img',
          alt: ''
        )
      %>
      <%= link_to(page_path('about', anchor: "section:mission"), class: 'vision-box__item vision-box__item--mission') do %>
        <span class="vision-box__item__link">
          <h1 class="vision-box__item__title">
            Involved in the greatest <strong>mission</strong>
          </h1>
        </span>
      <% end %>
    </div>

  </div>

  <%= render('/shared/promo_box',
             img: @latest_sermon.banner['image'],
             link: @latest_sermon,
             title: @latest_sermon.title,
             pretitle: 'Listen back to the latest recording',
             cta: 'Go to sermon recording') if @latest_sermon %>

</div>
