    <nav class="m-admin-nav">
      <%= link_to(admin_resources_path, class: 'm-admin-nav--link') do %>
        <%= svg_tag('admin-menu', class: 'm-admin-nav--link--icon')%>
        <span class='m-admin-nav--link--text'>Resources</span>
      <% end %>

      <%= link_to(admin_groupings_path, class: 'm-admin-nav--link') do %>
        <%= svg_tag('admin-menu', class: 'm-admin-nav--link--icon')%>
        <span class='m-admin-nav--link--text'>Groups and Series</span>
      <% end %>

      <%= link_to(admin_people_path, class: 'm-admin-nav--link') do %>
        <%= svg_tag('admin-menu', class: 'm-admin-nav--link--icon')%>
        <span class='m-admin-nav--link--text'>People</span>
      <% end %>

      <%= link_to(admin_teams_path, class: 'm-admin-nav--link') do %>
        <%= svg_tag('admin-menu', class: 'm-admin-nav--link--icon')%>
        <span class='m-admin-nav--link--text'>Teams</span>
      <% end %>

      <%= link_to(admin_events_path, class: 'm-admin-nav--link') do %>
        <%= svg_tag('admin-menu', class: 'm-admin-nav--link--icon')%>
        <span class='m-admin-nav--link--text'>Events</span>
      <% end %>

      <%= link_to(admin_livestreams_path, class: 'm-admin-nav--link') do %>
        <%= svg_tag('admin-menu', class: 'm-admin-nav--link--icon')%>
        <span class='m-admin-nav--link--text'>Livestreams</span>
      <% end %>
    </nav>
