<%= form_for([:admin, @grouping], html: { class: 'form m-admin-body' }) do |f| %>
<section class="m-admin-body--main">
  <div class="form__field">
    <%= f.label :title, class: 'form__label' %>
    <%= f.text_field :title, class: 'form__input' %>
  </div>

  <div class="form__field">
    <%= f.label :description, class: 'form__label' %>
    <%= f.text_area :description, class: 'form__textarea' %>
  </div>

  <%= group_type_picker(f, :group_type, %w()) %>

</section>

<section class="m-admin-body--sidebar">
  <%= render('admin/shared/form_errors', m: @grouping) %>
  <%= f.submit 'Save', class: 'form__submit u-btn u-btn--primary u-btn--100' %>


  <hr />

  <div class="form__field">
    <%= f.label :start_date, class: 'form__label' %>
    <%= f.date_field :start_date, class: 'form__input' %>
  </div>

  <div class="form__field">
    <%= f.label :end_date, class: 'form__label' %>
    <%= f.date_field :end_date, class: 'form__input' %>
  </div>

  <hr />

  Graphic
  <div class="r-featureImageSelector"
      data-inputId="grouping_graphics_id"
      data-selectImageId=""
      data-selectedImageThumbnail=""></div>
  
  <%= f.text_field :graphics_id %>

  <hr />

  Advanced

  <% if @grouping.slug_can_be_changed? %>
    <div class="form__field">
      <%= f.label :slug, class: 'form__label' %>
      <%= f.text_field :slug, class: 'form__input js-slug-field', data: {'from-input-id': 'grouping_title'} %>
    </div>
  <% end %>

</section>

<% end %>
