<section class="c-blog-list">
  <header class="c-blog-list__header">
    <% if defined?(list_title) %>
    <h1><%= list_title %></h1>
    <% end %>
  </header>

  <% list.each do |item| %>
    <%= link_to(item, class: 'c-blog-list__item') do %>

      <div class="c-blog-list__item__body">
        <h2 class="c-blog-list__item__title"><%= item.title %></h2>
        <p class="c-blog-list__item__meta">Written on <date><%= l item.display_date.to_date, format: :long %></date> by <%= item.person.display_name %></p>
        <p class="c-blog-list__item__teaser"><%= item.introduction %></p>
        <div class="u-btn">Read</div>
      </div>

      <% if item.graphics_id %>
        <div class="c-blog-list__item__image js-object-fit-container">
          <span></span>
          <%=
            responsive_image_tag(
              item.graphic.background_image_size_urls,
              sizes:['50vw'],
              alt: ''
            )
          %>
        </div>
      <% end %>

    <% end %>
    
  <% end %>

</section>
