<!-- Full reopen
<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>Join us this Sunday</h1>
        <% if @sunday_service %>
          <h2><%= @sunday_service.start_datetime.to_formatted_s(:just_time)  %> in <%= @sunday_service.address %></h2>
          <a href="https://www.google.com/maps?hl=en&q=<%= u @sunday_service.address %>" class="u-link u-link--arrowed u-link--black">
            <%= svg_tag('map') %>
            <span>View on a map</span>
          </a>
        <% else %>
          <h2>The Globe Church meets every Sunday near London Bridge</h2>
          <a href="/calendar" class="u-link u-link--arrowed u-link--black">
            <span>Find out more</span>
          </a>
        <% end %>
      </div>
    </main>
  </section>
</div>
-->

<!-- Partial reopen-->
<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>Join us this Sunday</h1>
        <h2>We would love for you to come and join us at The Globe Church.</h2>
        <p>The Globe Church is meeting each Sunday, 3pm and 5pm at 66–68 Great Suffolk St, London SE1 0BL. There is no need to book a space, and face coverings are optional, however if you would prefer to remain socially distanced we have a specific area for you. If you have questions or concerns <a href="mailto:info@globe.church">please get in touch</a>.</p>
        <a href="https://goo.gl/maps/1Uy5dwTk8wfk3iHy9" class="u-link u-link--arrowed u-link--black">
          <%= svg_tag('map') %>
          <span>View on a map</span>
        </a>

        <a href="/live" class="u-link u-link--arrowed u-link--black">
          <%= svg_tag('video') %>
          <span>Go to the live stream page</span>
        </a>
      </div>
    </main>
  </section>
</div>

<!-- Lockdown -->
<!--
<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>We are meeting online…</h1>
        <p>Join us at 4.30pm each Sunday via the livestreamed service.</p>
        <p>If you’re new to The Globe Church, welcome! We appreciate that this may be your first experience of Globe, and perhaps you are exploring church for the first time… We would love to get to know you, welcome you to the church family. Please email Linda (linda@globe.church) to find out more.</p>

        <a href="/live" class="u-link u-link--arrowed u-link--black">
          <%= svg_tag('video') %>
          <span>Go to the live stream page</span>
        </a>
      </div>
    </main>
  </section>
</div>
-->
