<!-- Full reopen
<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>Join us this Sunday</h1>
        <% if @sunday_service %>
          <h2><%= @sunday_service.start_datetime.to_formatted_s(:just_time)  %> in <%= @sunday_service.address %></h2>
          <a href="https://www.google.com/maps?hl=en&q=<%= u @sunday_service.address %>" class="u-link u-link--arrowed u-link--black">
            <%= svg_tag('map') %>
            <span>View on a map</span>
          </a>
        <% else %>
          <h2>The Globe Church meets every Sunday near London Bridge</h2>
          <a href="/calendar" class="u-link u-link--arrowed u-link--black">
            <span>Find out more</span>
          </a>
        <% end %>
      </div>
    </main>
  </section>
</div>
-->

<!-- Partial reopen-->
<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>We are starting to meet together again</h1>
        <h2>We would love for you to come and join us; you're welcome to come in person or tune in online.</h2>
        <p>The Globe Church is meeting each Sunday, 3.30pm at St. Mark's, 337 Kennington Park Rd, Oval, London SE11 4PW. Please arrive in plenty of time to help with social distancing guidelines. You will need to wear a face covering (<a href="https://fiec.org.uk/resources/wearing-face-masks-at-church" target="_blank" rel="noopener">why?</a>), if possible please <a href="/contact">let us know you are coming</a>, but feel free to just turn up if that is easier for you.</p>
        <a href="https://goo.gl/maps/e7hLmCmUtwdesy5J6" class="u-link u-link--arrowed u-link--black">
          <%= svg_tag('map') %>
          <span>View on a map</span>
        </a>

        <a href="/live" class="u-link u-link--arrowed u-link--black">
          <%= svg_tag('video') %>
          <span>Go to the live stream page</span>
        </a>
      </div>
    </main>
  </section>
</div>

<!-- Lockdown -->
<!--
<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>We are meeting online…</h1>
        <p>Join us at 4.30pm each Sunday via the livestreamed service.</p>
        <p>If you’re new to The Globe Church, welcome! We appreciate that this may be your first experience of Globe, and perhaps you are exploring church for the first time… We would love to get to know you, welcome you to the church family. Please email Linda (linda@globe.church) to find out more.</p>

        <a href="/live" class="u-link u-link--arrowed u-link--black">
          <%= svg_tag('video') %>
          <span>Go to the live stream page</span>
        </a>
      </div>
    </main>
  </section>
</div>
-->
