<section class="c-promo-box js-object-fit-container">
  <% if defined? (img) %>
  <%= responsive_image_tag(img,
                           sizes: ['(min-width: 1200px) 1200px,', '100vw'],
                           class: "c-promo-box__img",
                           alt: title) if img.present? %>
  <% end %>
  <%= link_to(link, {class: 'c-promo-box__content', data: {eventcategory: "Promobox", eventaction: cta, eventlabel: title}}) do %>
    <p class="c-promo-box__pretitle"><%= pretitle %></p>
    <h1 class="c-promo-box__title"><%= title %></h1>
    <span class="c-promo-box__btn u-btn u-btn--arrowed">
      <%= cta %>
    </span>
  <% end %>
</section>
