<% if defined?(list_title) %>
<h2 class="c-description-box__title"><%= list_title %></h2>
<% end %>

<ul class="c-sermon-list">

  <% list.each do |item| %>
    <%= link_to(item, class: 'c-sermon-list__item') do %>
      <div class="c-sermon-list__details">
        <% if item.display_date %>
        <date class="c-sermon-list__details__date"><%= l item.display_date.to_date, format: :long %></date>
        <% end %>
        <p class="c-sermon-list__details__title"><%= item.title %></p>
        <% if item.bible_reference_json %>
        <small class="c-sermon-list__details__date"><%= item.reference_string %></small>
        <% end %>
      </div>

      <div class="c-sermon-list__cta u-btn">
        <% if defined?(verb) %>
          <%= verb %>
        <% else %>
          Listen
        <% end %>
      </div>
    <% end %>
  <% end %>

</ul>
