<% d = nil %>
<div class="c-event-list c-content-box__main">
  <% events.each do |event_instance| %>

    <% if d != event_instance.start_datetime.to_formatted_s(:short_ordinal) %>
    <h2 class="c-event-list__heading">
      <%= event_instance.start_datetime.to_formatted_s(:short_ordinal) %>
    </h2>
    <% end %>

    <% d = event_instance.start_datetime.to_formatted_s(:short_ordinal) %>

    <div class="c-event-list__event" itemscope itemtype="http://schema.org/Event">
      <h3>
        <span itemprop="name">
          <strong><%= event_instance.event.title %></strong><% if event_instance.title != "" %>: <%= event_instance.title %><% end %>
        </span>

        <% if event_instance.flag || event_instance.event.flag %>
        <span class="u-tag u-tag--nudged">
          <% if event_instance.flag %>
            <%= event_instance.event_tag %>
          <% else %>
            <%= event_instance.event.event_tag %>
          <% end %>
        </span>
        <% end %>
      </h3>

      <p class="c-event-list__event__time-location">
        <span itemprop="startDate" content="2018-10-10T19:00:00">
          <%= event_instance.start_datetime.to_formatted_s(:just_time) %>
        </span>
        
        <% if event_instance.location_id %>
          <%= render('location', l: event_instance.location)%>
        <% elsif event_instance.event.location_id %>
          <%= render('location', l: event_instance.event.location)%>
        <% end %>
      </p>

      <% if !event_instance.link_url.blank? %>
        <a class="c-event-list__event__info-link" href="<%= event_instance.link_url %>" target="_blank" rel="noopener">More information</a>
      <% elsif !event_instance.event.link_url.blank? %>
        <a class="c-event-list__event__info-link" href="<%= event_instance.event.link_url %>" target="_blank" rel="noopener">More information</a>
      <% end %>

    </div>

  <% end %>
</div>
