<%= render('/shared/join_us') %>

<div class="site-container">

  <%= render('core_events', further_nav: true) %>

  <% if @this_week.length > 0 %>
  <section class="c-content-box" id="section:next-seven">

    <header class="c-content-box__header c-content-box__header--empty">
        <div class="c-content-box__header__container">
            <h1 class="c-content-box__header__title">Next seven days</h1>
            <h2 class="c-content-box__header__subtitle"><%= (Time.now).to_formatted_s(:short_ordinal) %> – <%= (Time.now + 1.week).to_formatted_s(:short_ordinal) %></h2>
        </div>
    </header>

    <%= render('event_context_box', events: @this_week) %>

  </section>
  <% end # End if next seven events %>

  <%= render('/shared/promo_box',
            img: @featured.graphic.background_image_size_urls,
            link: @featured.link_url,
            title: @featured.title,
            pretitle: @featured.event.title,
            has_new_window: 1,
            cta: 'Find out more') if @featured && @featured.graphics_id %>

  <% if @future_events.length > 0 %>
  <section class="c-content-box" id="section:future-events">

    <header class="c-content-box__header c-content-box__header--empty">
        <div class="c-content-box__header__container">
          <h1 class="c-content-box__header__title">Future events</h1>
        </div>
    </header>

    <%= render('event_context_box', events: @future_events) %>

  </section>
  <% end # End if future events %>

  <% if !@events # Remove this after deploy %>
    <br />
  <% end %>

  <%= render('when-and-where') %>

</div>
