<div class="site-container">

  <section class="c-content-box">

      <main class="c-content-box__main">

        <div class="c-content-box__main__container">

            <% if @event_instance.graphic %>
            <div class="c-content-box__main__container__img-container js-object-fit-container">
              <img src="<%= @event_instance.graphic.background_image_960.try('remote_url') %>" alt="" />
            </div>
            <% end %>

            <%= markdown(@event_instance.description) %>

        </div>

        <aside class="c-content-box__aside">

          <div class="c-content-box__aside__meta">

            <ul class="c-icon-list">

              <li class="c-icon-list__item">
                <a>
                  <%= svg_tag('calendar', class: 'c-icon-list__item__icon') %>
                  <span>
                    <%= @event_instance.start_datetime.to_formatted_s(:short_ordinal) %>
                  </span>
                </a>
              </li>

              <li class="c-icon-list__item">
                <a>
                  <%= svg_tag('clock', class: 'c-icon-list__item__icon') %>
                  <span>
                    <%= @event_instance.start_datetime.to_formatted_s(:just_time) %>
                  </span>
                </a>
              </li>

              <li class="c-icon-list__item">
                <a>
                  <%= svg_tag('map', class: 'c-icon-list__item__icon') %>
                  <span>
                    <% @event_instance.address_fields.each do |address_line| %>
                      <%= address_line %><br />
                    <% end %>
                  </span>
                </a>
              </li>

            </ul>


            <% if @event_instance.external_link %>
              <%= link_to('Book now',
                          @event_instance.external_link,
                          target: '_blank',
                          class: 'u-btn u-btn--dark u-btn--block') %>
            <% end %>

            <% if @event_instance.siblings %>
            
              This event is part of
              <%=link_to(@event_instance.event) do%>
                <%= @event_instance.event.title %>
              <% end %>
            <% end %>
          
          </div>
        </aside>

      </main>
  </section>

</div>
