<%= form_for([:admin, @resource], html: { class: 'form m-admin-body' }) do |f| %>
<section class="m-admin-body--main">
  <%= resource_type_picker(f, :resource_type, %w(page)) %>

  <div class="form__field js-resource-field" data-name="title">
    <%= f.label :title, class: 'form__label' %>
    <%= f.text_field :title, class: 'form__input' %>
  </div>

  <div class="form__field js-resource-field" data-name="introduction">
    <%= f.label :introduction, class: 'form__label' %>
    <%= f.text_area :introduction, class: 'form__textarea' %>
  </div>

  <div class="form__field js-resource-field" data-name="external_reference">
    <%= f.label :external_reference, class: 'form__label' %>
    <%= f.text_field :external_reference, class: 'form__input' %>
  </div>

  <div class="form__field js-resource-field" data-name="upload">
    <%= f.label :upload, class: 'form__label' %>
    <% if @resource.upload %>
    <div class="r-resource-upload"
         data-input-id="resource_uploads_id"
         data-valid-types="audio/mp3|audio/mpeg"
         data-file-src="<%= @resource.upload.file.try(:remote_url) %>"
         data-file-type="<%= @resource.upload.meta['type'] %>">
    </div>
    <% else %>
    <div class="r-resource-upload"
         data-input-id="resource_uploads_id"
         data-valid-types="audio/mp3|audio/mpeg">
    </div>
    <% end %>
    <%= f.hidden_field :uploads_id %>
  </div>

  <div class="form__field js-resource-field" data-name="body">
    <%= f.label :body, class: 'form__label' %>
    <%= f.text_area :body, class: 'js-st' %>
  </div>

</section>

<section class="m-admin-body--sidebar">
  <%= render('admin/shared/form_errors', m: @resource) %>
  <%= f.submit 'Save', class: 'form__submit u-btn u-btn--primary u-btn--100' %>

  <div class="form__field js-resource-field" data-name="author">
    <%= f.label :people_id, 'Author', class: 'form__label form__check-box-label' %>
    <div class="form__select">
      <%= f.select :people_id,
        Person.pluck(:display_name, :id),
        { include_blank: true },
        { class: 'form__input form__input--select' }  %>
    </div>
  </div>

  <div class="form__field js-resource-field" data-name="display_date">
    <%= f.label :display_date, class: 'form__label' %>
    <%= f.date_field :display_date, class: 'form__input' %>
  </div>

  <div class="form__field js-resource-field" data-name="bible_ref">
    <%= f.label :bible_reference, class: 'form__label' %>
    <%= reference_picker(f) %>
  </div>

  <div class="r-featureImageSelector form__field js-resource-field"
      data-name="lead_image"
      data-inputId="resource_graphics_id"
      data-selectImageId=""
      data-selectedImageThumbnail="<%= @resource.graphic.background_image_960.try('remote_url') if @resource.graphic %>"></div>
  <%= f.hidden_field :graphics_id %>

  <div class="form__field js-resource-field" data-name="grouping">
    <%= f.label :grouping, class: 'form__label' %>
    <%= f.select :grouping_ids, @groupings.pluck(:title, :id), { include_blank: 'Ungrouped' }, class: 'form__input form__input--multiselect', multiple: true %>
  </div>

  <div class="r-resourceSelector"
    data-inputId="resource_parent_resource_id"
    data-resourceTitle="<%= @resource.resource_parent.title if @resource.resource_parent %>"></div>
  
  <%= f.hidden_field :parent_resource_id %>

  <hr />
 
  <% if @resource.slug_can_be_changed? %>
    <div class="form__field js-resource-field" data-name="slug">
      <%= f.label :slug, class: 'form__label' %>
      <%= f.text_field :slug, class: 'form__input js-slug-field', data: {'from-input-id': 'resource_title'} %>
    </div>
  <% end %>

</section>

<% end %>
