<main class="m-admin-body">
  <section class="m-admin-body--main m-admin-preview">
    <iframe class="m-admin-preview__iframe" src="<%= preview_admin_resource_path(@resource) %>"></iframe>
  </section>
  
  <section class="m-admin-body--sidebar">
    <h1><%= @resource.title %></h1>

    <%= link_to("Edit", edit_admin_resource_path(@resource)) %>

    <%= btn_state_change('Publish',
                         @resource,
                         :publish,
                         class: 'btn') if @resource.can_publish? %>

    <%= btn_state_change('Unpublish',
                         @resource,
                         :unpublish,
                         class: 'btn') if @resource.can_unpublish? %>

    <%= btn_state_change('Delete',
                         @resource,
                         :expunge,
                         class: 'btn') if @resource.can_expunge? %>

    <hr />

    <% if @resource.state == 'published' %>
      <!-- copy to clipboard via https://davidwalsh.name/clipboard -->
      Share link: <%= @resource.slug %>
    <% end %>

  </section>
</main>
