<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h2>The Globe Church is all about sharing the good news of Jesus Christ to those living and working on the Southbank of London.</h2>
      </div>
    </main>
  </section>
</div>

<%= render('/shared/internal_nav',
           sections: ['Jesus', 'People', 'Mission'],
           current: 'Jesus') %>

<section class="c-content-box">
  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_url("home-page/the-globe-church-bible-study_320.jpg"),
          "640": asset_url("home-page/the-globe-church-bible-study_640.jpg"),
          "960": asset_url("home-page/the-globe-church-bible-study_960.jpg"),
          "1280": asset_url("home-page/the-globe-church-bible-study_1280.jpg"),
          "1920": asset_url("home-page/the-globe-church-bible-study_1920.jpg"),
          "2560": asset_url("home-page/the-globe-church-bible-study_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is all about Jesus…'
      )
    %>
    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">The Globe Church is all about Jesus…</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">
    <div class="c-content-box__main__container">
      <p>We are seriously excited about Jesus. His extraordinary life has changed the course of human history.</p>
      <p>In the Bible we find that in the beginning, we were created by God to enjoy life forever with him. But we chose to go it alone. We turned our backs and acted as if we were king.</p>
      <p>That rebellion set us on a terrible road. No longer do we enjoy the life we were created for. Instead, we now walk a road of suffering. Our steps are hard, and although we experience happiness, we also shed many tears. We walk a road that leads unavoidably to death – and beyond the grave, to God’s right but dreadful punishment.</p>
      <p>So far, so bad.</p>
      <p>But God has done the most extraordinary thing. He sent Jesus, his only Son, to live on Earth. Jesus lived the perfect life even while he walked our road of pain and suffering. He walked the road that led him ultimately to a cross where he died under God’s punishment. He did not deserve God’s punishment, but he took it in our place. He walked that road to the cross to save us. And then, after Jesus conquered death, God gave him life again. By his death and resurrection, Jesus has opened a new road for us to walk.</p>
      <p>As we follow Jesus, we walk a road of freedom. It is still hard. We still shed tears, but our ultimate destination is no longer death, but life. No longer punishment, but life forever with God. And as we walk this road, Jesus has given us his precious Holy Spirit to be our helper and comforter.</p>
      <p>Jesus is our champion. We want to know him better, so we read his Word, the Bible. We want to follow him.</p>
      <p>Jesus changes our story. If you have ever wondered about life and what it all means, then come and hear how Jesus makes sense of your story.</p>
    </div>
  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Jesus', 'People', 'Mission'],
           current: 'People') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_url("home-page/the-globe-church-people_320.jpg"),
          "640": asset_url("home-page/the-globe-church-people_640.jpg"),
          "960": asset_url("home-page/the-globe-church-people_960.jpg"),
          "1280": asset_url("home-page/the-globe-church-people_1280.jpg"),
          "1920": asset_url("home-page/the-globe-church-people_1920.jpg"),
          "2560": asset_url("home-page/the-globe-church-people_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is made up of all sorts of people'
      )
    %>

    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Made up of all sorts of people</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">
    <div class="c-content-box__main__container">
      <p>Following Jesus is not an individual thing. Part of the genius of God’s plan is that he is creating a new humanity. He is saving a community of people.</p>
      <p>The scope of God’s plan is seen in this vision of the future:</p>
      <p><em>After this I looked, and there before me was a great multitude that no one could count, from every nation, tribe, people and language, standing before the throne and before the Lamb.</em> (Revelation 7:9, NIVUK).</p>
      <p>God’s plan is to save a great diversity of people.</p>
      <p>Human history is littered with examples of racism and exclusion. But the church is to be different. Here is a radical, diverse, and yet united body of people displaying God’s power to the world.</p>
      <p>It does not matter our social or ethnic or economic or educational backgrounds. We want The Globe Church to be a place where anyone can find a home. </p>
    </div>

    <div class="c-content-box__expandable js-content-box-expandable" data-label="More about people">
      <%= render('/shared/internal_nav',
           sections: ['Training', 'Eldership', 'Staff'],
           current: 'Training',
           classes: 'c-internal-nav c-internal-nav--content-box') %>

      <section class="c-content-box__main__subsection">
        <h2>Training</h2>
        <p>Many of our church family will be with us for only a short time. That is the nature of Central London. So at The Globe Church, we want to use our time with people efficiently by training them to serve God effectively, whatever their future holds.</p>
        <p>We encourage everyone to join a Focus group (a small midweek Bible study group). Some people are then encouraged to take on the leadership of their group under the direction and support of the church leadership team.</p>
        <p>We train people through one-to-one ministry. An older Christian reads the Bible with a newer Christian to help them understand the gospel and grow in their faith. Our aim is to build up and train people to take on one-to-one ministry themselves.</p>
        <p>We run a training course called Globe Equip that is open to all. In this course, we train people how to study and teach the Bible skillfully.</p>
        <p>The elders of the church seek to train up potential new leaders through appointing church members to the Leadership Team. This team exposes members to a taste of the privilege and responsibility of church leadership.</p>
      </section>

      <%= render('/shared/internal_nav',
           sections: ['Training', 'Eldership', 'Staff'],
           current: 'Eldership',
           classes: 'c-internal-nav c-internal-nav--content-box') %>

      <section class="c-content-box__main__subsection">
        <h2>Eldership</h2>
        <p>The elders have the joy and responsibility, under God, for prayerfully leading The Globe Church, setting the vision and direction, and ensuring that we remain firmly true to the Bible in all that we do. Through the preaching and teaching, we seek to clearly point to Jesus, applying his Word for people in all stages of life and faith.</p>
        <p>The elders have overall pastoral concern for the spiritual and practical needs of the church family. We are also passionate about training and equipping others both to serve Jesus in the church, and to live for him through all of life.  We long to see God use us all at Globe Church to show Jesus to those we meet day by day.</p>
        <p>We would love to welcome you into our church family and for you to be ‘at home’ here.  We always want to be approachable. Please come and find one (or more!) of us for a friendly conversation so we can get to know you better.</p>
        <%= render('/shared/people_grid', people: additional[:eldership]) if additional[:eldership].present? %>
      </section>

      <%= render('/shared/internal_nav',
           sections: ['Training', 'Eldership', 'Staff'],
           current: 'Staff',
           classes: 'c-internal-nav c-internal-nav--content-box') %>

      <section class="c-content-box__main__subsection">
        <h2>Staff</h2>
        <p>The Globe Church is about the whole church family living as disciples of Christ, but a few people have especially committed to serve the church and work to see its vision flourish. We call them our Staff Team.</p>
        <%= render('/shared/people_grid', people: additional[:staff]) if additional[:staff].present? %>
      </section>
    </div>

  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Jesus', 'People', 'Mission'],
           current: 'Mission') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_url("home-page/the-globe-church-london-southwark_320.jpg"),
          "640": asset_url("home-page/the-globe-church-london-southwark_640.jpg"),
          "960": asset_url("home-page/the-globe-church-london-southwark_960.jpg"),
          "1280": asset_url("home-page/the-globe-church-london-southwark_1280.jpg"),
          "1920": asset_url("home-page/the-globe-church-london-southwark_1920.jpg"),
          "2560": asset_url("home-page/the-globe-church-london-southwark_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: ''
      )
    %>

    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Involved in the greatest mission</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">
      <p>Have you ever wondered what the church is for? What is the point? What are we supposed to be doing? Jesus has made it very clear. In his final command to his people, he spells out our mission, <em>‘Go and make disciples of all nations’</em> (Matthew 28:19).</p>
      <p>That means going. Not sitting around and waiting for people to come to us, but going into our community. Into our workplaces. Into the hard places. Into our world.</p>
      <p>And we go with the clear aim of making disciples. We are unashamed of the fact that Jesus is a great king. We are convinced that God’s kingdom is glorious. So we want to call people to follow this king. Come and learn from him. Come and find forgiveness in him. Come and find rest and purpose and freedom in him. Come and be a disciple.</p>
      <p>There are lots of other good things we can be involved in, but making disciples is the reason The Globe Church exists.</p>

      <!--<p>
        <%= link_to('Find out more', page_path('about/mission'), class: 'u-btn u-btn--block u-btn--dark') %>
      </p>-->
    </div>
  </main>
</section>
