<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h2>The Globe Church is all about sharing the good news of Jesus Christ to those living and working on the Southbank of London.</h2>
      </div>
    </main>
  </section>
</div>

<%= render('/shared/internal_nav',
           sections: ['Jesus', 'People', 'Mission'],
           current: 'Jesus') %>

<section class="c-content-box">
  <header class="c-content-box__header">
    <%=
      responsive_image_tag(
        {
          "320": asset_url("home-page/the-globe-church-bible-study_320.jpg"),
          "640": asset_url("home-page/the-globe-church-bible-study_640.jpg"),
          "960": asset_url("home-page/the-globe-church-bible-study_960.jpg"),
          "1280": asset_url("home-page/the-globe-church-bible-study_1280.jpg"),
          "1920": asset_url("home-page/the-globe-church-bible-study_1920.jpg"),
          "2560": asset_url("home-page/the-globe-church-bible-study_2560.jpg"),
        },
        sizes: [
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is all about Jesus…'
      )
    %>
    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">The Globe Church is all about Jesus…</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">
    <div class="c-content-box__main__container">
      <p>We are seriously excited about Jesus. His extraordinary life has changed the course of human history. He is our King and our Champion. </p>
      <p>Here is the story at the heart of the Bible. In the beginning we were created by God to enjoy life forever with Him. But it didn’t stay that way. We chose to go it alone. We turned our backs and acted as if we were king. </p>
      <p>That set us on a terrible road. No longer did we enjoy the life we were created for, instead we live under God’s right punishment. We walk a road of suffering. Our steps are hard and although there is some happiness there are also many tears. It is a road that leads unavoidably to death and beyond the grave to God’s right but dreadful punishment.</p>
      <p>So far, so bad. But God has done the most extraordinary thing. God loves this world and has acted to provide another road to walk. He sent Jesus, His one and only Son, to live on earth. Jesus lived the perfect life and yet He walked our road. He walked the road of pain and suffering. He walked the road that led Him ultimately the a cross where He died under God’s punishment. But He walked that road to save us. He did not deserve punishment but He took it in our place. By His death and resurrection He has opened a new road for us to walk. </p>
      <p>As we follow Jesus we walk a road of freedom. It is still hard, there are still tears, but the ultimate destination is no longer death but life. No longer punishment but life forever with God. As we walk this road Jesus has given us His precious Holy Spirit to be our helper and comforter. </p>
      <p>Jesus changes the course of human history. He changes our story. He is our Champion. </p>
      <p>We want to know Him better as we read His Word the Bible. We want to follow Him. If you have ever wondered about life and what it all means then come and hear how Jesus makes sense of your story.</p>
    </div>
  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Jesus', 'People', 'Mission'],
           current: 'People') %>

<section class="c-content-box">

  <header class="c-content-box__header">
    <%=
      responsive_image_tag(
        {
          "320": asset_url("home-page/the-globe-church-people_320.jpg"),
          "640": asset_url("home-page/the-globe-church-people_640.jpg"),
          "960": asset_url("home-page/the-globe-church-people_960.jpg"),
          "1280": asset_url("home-page/the-globe-church-people_1280.jpg"),
          "1920": asset_url("home-page/the-globe-church-people_1920.jpg"),
          "2560": asset_url("home-page/the-globe-church-people_2560.jpg"),
        },
        sizes: [
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is made up of all sorts of people'
      )
    %>

    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Made up of all sorts of people</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">
    <div class="c-content-box__main__container">
      <p>Following Jesus is not an individual thing. Part of the genius of God’s plan is that He is creating a new humanity, He is saving a community of people. The scope of this plan is seen in this vision of the future God has planned. </p> 
      <p><em>After this I looked, and there before me was a great multitude that no one could count, from every nation, tribe, people and language, standing before the throne and before the Lamb.</em> Revelation 7</p>
      <p>God’s plan is to save a great diversity of people. Human history is littered with examples of racism and exclusion. But the church is to be different. Here is a radical, diverse and yet united body of people displaying God’s power to the world. </p>
      <p>It does not matter our social or ethnic or economic or educational background. We want Globe Church to be a place where anyone can find a home. </p>
      <p>
        <%= link_to('Find out more', page_path('about/people'), class: 'u-btn u-btn--block u-btn--dark') %>
      </p>
    </div>
  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Jesus', 'People', 'Mission'],
           current: 'Mission') %>

<section class="c-content-box">

  <header class="c-content-box__header">
    <%=
      responsive_image_tag(
        {
          "320": asset_url("home-page/the-globe-church-london-southwark_320.jpg"),
          "640": asset_url("home-page/the-globe-church-london-southwark_640.jpg"),
          "960": asset_url("home-page/the-globe-church-london-southwark_960.jpg"),
          "1280": asset_url("home-page/the-globe-church-london-southwark_1280.jpg"),
          "1920": asset_url("home-page/the-globe-church-london-southwark_1920.jpg"),
          "2560": asset_url("home-page/the-globe-church-london-southwark_2560.jpg"),
        },
        sizes: [
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: ''
      )
    %>

    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Involved in the greatest mission.</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">
      <p>Have you ever wondered what the church is for? What is the point? What are we supposed to be doing? Jesus has made it very clear. He spells it out in Matthew 28:19-20. In His final command to His people He said, ‘Go and make disciples of all nations’. </p>
      <p>It means <em>going</em>, not sitting around and waiting for people to come to us. Going into our community. Into our workplaces. Into the hard places. Into our world. </p>
      <p>And we go with the clear aim of <em>making disciples</em>. We are unashamed of the fact that Jesus is a very great King. We are convinced that God’s Kingdom is glorious. So we want to call people to follow this King. Come and learn from Him. Come and find forgiveness in Him. Come and find rest and purpose and freedom in Him. Come and be a disciple. </p>
      <p>There are lots of other good things we can be involved in but making disciples is the one reason that The Globe Church exists.</p>
      <p>
        <%= link_to('Find out more', page_path('about/mission'), class: 'u-btn u-btn--block u-btn--dark') %>
      </p>
    </div>
  </main>
</section>
