<section class="c-description-box c-description-box--gold-braid">
  <div class="site-container c-description-box__inner">
    <div class="c-description-box__side js-object-fit-container">
      <%= responsive_image_tag(
        {
          "320": asset_url("static-banner/contact/social-media_320.jpg"),
          "640": asset_url("static-banner/contact/social-media_640.jpg"),
          "960": asset_url("static-banner/contact/social-media_960.jpg"),
          "1280": asset_url("static-banner/contact/social-media_1280.jpg"),
          "1920": asset_url("static-banner/contact/social-media_1920.jpg"),
          "2560": asset_url("static-banner/contact/social-media_2560.jpg")
        },
        sizes: ['min-width(992px) 33%', 'min-width(1200px) 396px', '100vw'],
        class: 'c-description-box__img'
      ) %>
    </div>

    <div class="c-description-box__content">
      <h1 class="c-description-box__title">
          Drop us a line
      </h1>

      <p>You can send us an email or a message via various social media sites:</p>

      <ul class="c-icon-list c-icon-list--block">
        <li class="c-icon-list__item">
          <a href="#" class="u-link u-link--arrowed">
            <%= svg_tag('email', class: 'c-icon-list__item__icon') %>
            <span>
              info@globe.church
            </span>
          </a>
        </li>
        <li class="c-icon-list__item">
          <a href="https://twitter.com/theglobechurch" class="u-link u-link--arrowed">
            <%= svg_tag('twitter', class: 'c-icon-list__item__icon') %>
            <span>
              twitter.com/theglobechurch
            </span>
          </a>
        </li>
        <li class="c-icon-list__item">
          <a href="https://facebook.com/theglobechurch" class="u-link u-link--arrowed">
            <%= svg_tag('facebook', class: 'c-icon-list__item__icon') %>
            <span>
              facebook.com/theglobechurch
            </span>
          </a>
        </li>
        <li class="c-icon-list__item">
          <a href="https://instagram.com/theglobechurch" class="u-link u-link--arrowed">
            <%= svg_tag('instagram', class: 'c-icon-list__item__icon') %>
            <span>
              instagram.com/theglobechurch
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>


<section class="c-description-box c-description-box--flipped c-description-box--lark-green" id="newsletter">

  <div class="site-container c-description-box__inner">
    <div class="c-description-box__side js-object-fit-container">
      <%= responsive_image_tag(
        {
          "320": asset_url("static-banner/contact/email-signup_320.jpg"),
          "640": asset_url("static-banner/contact/email-signup_640.jpg"),
          "960": asset_url("static-banner/contact/email-signup_960.jpg"),
          "1280": asset_url("static-banner/contact/email-signup_1280.jpg"),
          "1920": asset_url("static-banner/contact/email-signup_1920.jpg"),
          "2560": asset_url("static-banner/contact/email-signup_2560.jpg")
        },
        sizes: ['min-width(992px) 33%', 'min-width(1200px) 396px', '100vw'],
        class: 'c-description-box__img'
      ) %>
    </div>

    <div class="c-description-box__content">
      <h1 class="c-description-box__title">
        Stay in the loop
      </h1>

      <p>Each week we send out an email to let you know what is going on in the life of the church. Want to get that kind of information too? Sign up now.</p>

      <form action="//theglobechurch.us14.list-manage.com/subscribe/post?u=3c53cfffa413d69cfa32538ca&amp;id=a1b221f798" method="post" name="mc-embedded-subscribe-form" class="c-form" target="_blank">
        <p class="c-form__field">
          <label for="mce-EMAIL" class="c-form__label">Email Address:</label>
          <input type="email" value="" name="EMAIL" class="c-form__input" id="mce-EMAIL">
        </p>

        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3c53cfffa413d69cfa32538ca_a1b221f798" tabindex="-1" value=""></div>
        <p class="c-form__field">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="u-btn">
        </p>
      </form>

    </div>
  </div>

</section>
