<%= render('/shared/join_us') %>

<%= render('/shared/internal_nav',
           sections: ['Join us on Sunday', 'Pray with us', 'Membership', 'Serve at Globe Church', 'Trainee scheme'],
           current: 'Join us on Sunday') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_path("get-involved/the-globe-church-sunday_320.jpg"),
          "640": asset_path("get-involved/the-globe-church-sunday_640.jpg"),
          "960": asset_path("get-involved/the-globe-church-sunday_960.jpg"),
          "1280": asset_path("get-involved/the-globe-church-sunday_1280.jpg"),
          "1920": asset_path("get-involved/the-globe-church-sunday_1920.jpg"),
          "2560": asset_path("get-involved/the-globe-church-sunday_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is made up of all sorts of people'
      )
    %>

    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Join us on Sunday</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">
      <p>Our Sunday gathering is the heartbeat of The Globe Church. Everything else we do flows from the worship, preaching, and relationships enjoyed on a Sunday.</p>
      <p>We prize singing together in worship, praying as one, celebrating Christ’s death for us in communion, and listening to God’s Word through the reading and preaching of the Bible.</p>
      <p>Church family is just that – family. So we love for children to be part of our gathering. We provide a staffed creche for toddlers, and we print listening guides to help children navigate their way through the preaching.</p>
      <p>Our services are fairly informal and we enjoy a meal together afterwards.</p>

      <p><%= link_to('Calendar', page_path('events'), class: 'u-btn u-btn--arrowed u-btn--dark') %></p>
    </div>

  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Join us on Sunday', 'Pray with us', 'Membership', 'Serve at Globe Church', 'Trainee scheme'],
           current: 'Pray with us') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_path("get-involved/the-globe-church-prayer_320.jpg"),
          "640": asset_path("get-involved/the-globe-church-prayer_640.jpg"),
          "960": asset_path("get-involved/the-globe-church-prayer_960.jpg"),
          "1280": asset_path("get-involved/the-globe-church-prayer_1280.jpg"),
          "1920": asset_path("get-involved/the-globe-church-prayer_1920.jpg"),
          "2560": asset_path("get-involved/the-globe-church-prayer_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is made up of all sorts of people'
      )
    %>

    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Pray with us</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">
      <p>The Bible shows us Christians in different places praying for one another. From the beginning of The Globe Church, a host of churches and individuals have generously prayed to see the church established and growing.</p>
      <p>Would you consider joining in this gospel partnership by praying for us? Everyone is welcome to participate in our <%= link_to('monthly Globe Central prayer gathering', page_path('events', anchor: "section:bible-study")) %>. You can also sign up to receive a prayer email where we’ll give you updates of what God is doing and how you can pray.</p>
      <p>Thank you for considering praying for us.</p>
    </div>

  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Join us on Sunday', 'Pray with us', 'Membership', 'Serve at Globe Church', 'Trainee scheme'],
           current: 'Membership') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_path("get-involved/the-globe-church-membership_320.jpg"),
          "640": asset_path("get-involved/the-globe-church-membership_640.jpg"),
          "960": asset_path("get-involved/the-globe-church-membership_960.jpg"),
          "1280": asset_path("get-involved/the-globe-church-membership_1280.jpg"),
          "1920": asset_path("get-involved/the-globe-church-membership_1920.jpg"),
          "2560": asset_path("get-involved/the-globe-church-membership_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is made up of all sorts of people'
      )
    %>

    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Membership</h1>
      <h2 class="c-content-box__header__subtitle">Committing, needing, entrusting, giving</h2>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">

      <p>The Bible illustrates church membership through several word-pictures of the church. For example, we are parts of a body, bricks in a building, soldiers in an army, and perhaps most powerfully, members of one family. These pictures all contain the idea of belonging, which is much more than attending. Church isn’t supposed to be a spectator sport. It is much more of a family who are all involved in different ways to make the family work properly.</p>
      <p>Therefore, we believe that anyone who is trusting Jesus and has decided to make The Globe Church their ‘home’ is a member of the family.</p>
      <p>We then encourage those who are members at Globe Church to express that membership publicly by becoming part of our formal membership. Membership expresses a commitment to one local church family. It is also legally how we are constituted. We hold regular church members meetings, and any changes in church leadership need to be agreed by a vote of the membership.</p>
      <p>Becoming a member means simply filling in a form that contains these four ideas:</p>

      <p>
        <ol>
          <li>I commit (this is my church family)</li>
          <li>I need (I can’t go it alone)</li>
          <li>I entrust (I want this church to look out for me)</li>
          <li>I give (I want to be involved in the mission)</li>
        </ol>
      </p>

      <p>Membership forms can be found at the back of church. If you are interested, fill in a form or chat to one of the elders.</p>

    </div>

  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Join us on Sunday', 'Pray with us', 'Membership', 'Serve at Globe Church', 'Trainee scheme'],
           current: 'Serve at Globe Church') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_path("get-involved/the-globe-church-serving_320.jpg"),
          "640": asset_path("get-involved/the-globe-church-serving_640.jpg"),
          "960": asset_path("get-involved/the-globe-church-serving_960.jpg"),
          "1280": asset_path("get-involved/the-globe-church-serving_1280.jpg"),
          "1920": asset_path("get-involved/the-globe-church-serving_1920.jpg"),
          "2560": asset_path("get-involved/the-globe-church-serving_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is made up of all sorts of people'
      )
    %>

    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Serve at Globe Church</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">
      <p>The Bible describes the church as a body with many parts all uniquely gifted to serve. At The Globe Church, we believe that everyone who joins us has been brought here by God to use their gifts in a variety of ways. We need each other.</p>
      <p>What does serving with us look like? It can look like anything from caring for someone going through a tough time to serving up a meal on Sunday, or from being a small group leader to helping with our homeless outreach. </p>
      <p>At Globe Church, we want you to use the gifts God has given you to serve, and we want to help you develop those gifts.</p>
    </div>

  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Join us on Sunday', 'Pray with us', 'Membership', 'Serve at Globe Church', 'Trainee scheme'],
           current: 'Trainee scheme') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_path("get-involved/the-globe-church-training_320.jpg"),
          "640": asset_path("get-involved/the-globe-church-training_640.jpg"),
          "960": asset_path("get-involved/the-globe-church-training_960.jpg"),
          "1280": asset_path("get-involved/the-globe-church-training_1280.jpg"),
          "1920": asset_path("get-involved/the-globe-church-training_1920.jpg"),
          "2560": asset_path("get-involved/the-globe-church-training_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is made up of all sorts of people'
      )
    %>
    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Trainee scheme</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">
      <p>A large part of our role as a church is to train up future gospel workers. Sometimes it is possible for someone to spend a year with The Globe Church team and get a closer look at what church-based ministry looks like.</p>
      <p>Our apprentices work alongside the staff team in all sorts of ministry and practical ways. They receive training from the <a href="https://www.scgp.org.uk/training/day-course/" target="_blank">South Central Ministry Training Course</a> and from the <a href="https://co-mission.org/training/" target="_blank">Co-Mission monthly workshop</a>. If you are interested in finding out more, please <%= link_to('contact us', page_path('contact')) %>.</p>
    </div>

  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Join us on Sunday', 'Pray with us', 'Membership', 'Serve at Globe Church', 'Trainee scheme'],
           current: 'Giving') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_path("static-banner/the-globe-church-preaching_320.jpg"),
          "640": asset_path("static-banner/the-globe-church-preaching_640.jpg"),
          "960": asset_path("static-banner/the-globe-church-preaching_960.jpg"),
          "1280": asset_path("static-banner/the-globe-church-preaching_1280.jpg"),
          "1920": asset_path("static-banner/the-globe-church-preaching_1920.jpg"),
          "2560": asset_path("static-banner/the-globe-church-preaching_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church'
      )
    %>
    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Giving to The Globe Church</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">
      <blockquote class="st-blockquote">
        <div class="st-blockquote__body">
          <p>Each man should give what he has decided in his heart to give, not reluctantly or under compulsion, for God loves a cheerful giver. And God is able to make all grace abound to you, so that in all things at all times; having all that you need, you will abound in every good work.</p>
        </div>

        <footer class="st-blockquote__footer">
          - <cite>2 Corinthians 9:7-8</cite>
        </footer>
      </blockquote>

      <p>We're really grateful that you would consider donating to the ongoing gospel ministry through The Globe Church.</p>
      <p>There are different ways to give; we have an offering on the first Sunday of the month in our services, or you give though bank transfer or by setting up a standing order to <em>The Globe Church</em>, sort code <em>20</em>-<em>80</em>-<em>57</em>, account number <em>2016</em> <em>8556</em>. Gift aid forms are also avalible.</p>
      <p>If you have any questions about giving to the church, please <%= link_to('contact us', page_path('contact')) %>.</p>
    </div>

  </main>
</section>
