<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>Join us this Sunday</h1>
        <h2>4.30pm at Willcox House, 140-148 Borough High Street</h2>
        <a href="https://www.google.co.uk/maps/place/140-148+Borough+High+St,+London+SE1" class="u-link u-link--arrowed u-link--black">
          <%= svg_tag('map') %>
          <span>View on a map</span>
        </a>
      </div>
    </main>
  </section>
</div>


<%= render('/shared/internal_nav',
           sections: ['Join us on Sunday', 'Pray with us', 'Membership', 'Serve at Globe Church', 'Trainee scheme'],
           current: 'Join us on Sunday') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_url("get-involved/the-globe-church-sunday_320.jpg"),
          "640": asset_url("get-involved/the-globe-church-sunday_640.jpg"),
          "960": asset_url("get-involved/the-globe-church-sunday_960.jpg"),
          "1280": asset_url("get-involved/the-globe-church-sunday_1280.jpg"),
          "1920": asset_url("get-involved/the-globe-church-sunday_1920.jpg"),
          "2560": asset_url("get-involved/the-globe-church-sunday_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is made up of all sorts of people'
      )
    %>

    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Join us on Sunday</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">
      <p>Our Sunday gathering is the heartbeat of the life of The Globe Church. Everything else we do flows from the worship, preaching, and relationships enjoyed on a Sunday. </p>
      <p>We prize singing together in weighty and joyful worship, praying as one, celebrating Christ’s death for us in communion, and hearing the voice of God through the reading and preaching of the Bible.</p>
      <p>Church family is just that- family! So we love having children come and be part of our gathering. We provide a staffed creche for toddlers, and produce sheets to help children navigate their way through the preaching.</p>
      <p>Our services are fairly informal and we enjoy a meal together afterwards.</p>
      <p><%= link_to('When and where', page_path('when-and-where'), class: 'u-btn u-btn--arrowed u-btn--dark') %></p>
    </div>

  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Join us on Sunday', 'Pray with us', 'Membership', 'Serve at Globe Church', 'Trainee scheme'],
           current: 'Pray with us') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_url("get-involved/the-globe-church-prayer_320.jpg"),
          "640": asset_url("get-involved/the-globe-church-prayer_640.jpg"),
          "960": asset_url("get-involved/the-globe-church-prayer_960.jpg"),
          "1280": asset_url("get-involved/the-globe-church-prayer_1280.jpg"),
          "1920": asset_url("get-involved/the-globe-church-prayer_1920.jpg"),
          "2560": asset_url("get-involved/the-globe-church-prayer_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is made up of all sorts of people'
      )
    %>

    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Pray with us</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">
      <p>The Bible is full of Christians in different places praying for each other. The Globe Church has been about partnership from its very beginnings with a whole host of different churches and individuals generously praying to see the church established and grow.</p>
      <p>Would you consider joining in this gospel partnership by praying for us? Everyone is welcome to our monthly           <%= link_to('Globe Central', page_path('when-and-where', anchor: "section:bible-study")) %> prayer gathering. You can sign up to a prayer email where we’ll give you updates of what God is doing and how you can pray.</p>
      <p>Thank you for considering praying for us!</p>
    </div>

  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Join us on Sunday', 'Pray with us', 'Membership', 'Serve at Globe Church', 'Trainee scheme'],
           current: 'Membership') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_url("get-involved/the-globe-church-membership_320.jpg"),
          "640": asset_url("get-involved/the-globe-church-membership_640.jpg"),
          "960": asset_url("get-involved/the-globe-church-membership_960.jpg"),
          "1280": asset_url("get-involved/the-globe-church-membership_1280.jpg"),
          "1920": asset_url("get-involved/the-globe-church-membership_1920.jpg"),
          "2560": asset_url("get-involved/the-globe-church-membership_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is made up of all sorts of people'
      )
    %>

    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Membership</h1>
      <h2 class="c-content-box__header__subtitle">Committing, needing, entrusting, giving</h2>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">

      <p>The Bible uses several pictures of the church to illustrate the idea of membership. For example, the parts of a body, bricks in a building, soldiers in an army and perhaps most powerfully members of one family. These pictures all contain the
          idea of belonging, it is much more than attending. Church isn’t supposed to be a spectator sport. It is much more of a family who are all involved in different ways to make the family work properly.</p>

      <p>Therefore we believe that anyone who is trusting Jesus and has decided to make Globe church their home is a member of the family.</p>

      <p>We then encourage those who are members at the Globe Church to express that membership publicly by becoming part of our formal membership. It can be really easy to float around various churches in London and we think that is unhelpful. Membership
          expresses a commitment to one local church family. It is also legally how we are constituted. There are regular church members meetings and any changes in church leadership need to be agreed by a vote of the membership.</p>

      <p>Becoming a member means simply filling in a form that contains these four ideas:</p>

      <p>
        <ol>
          <li>I commit (this is my church family)</li>
          <li>I need (I can’t go it alone)</li>
          <li>I entrust (I want this church to look out for me)</li>
          <li>I give (I want to be involved in the mission)</li>
        </ol>
      </p>

      <p>Membership forms can be found at the back of church. If you are interested then fill in a form or chat to one of the elders.</p>

    </div>

  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Join us on Sunday', 'Pray with us', 'Membership', 'Serve at Globe Church', 'Trainee scheme'],
           current: 'Serve at Globe Church') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_url("get-involved/the-globe-church-serving_320.jpg"),
          "640": asset_url("get-involved/the-globe-church-serving_640.jpg"),
          "960": asset_url("get-involved/the-globe-church-serving_960.jpg"),
          "1280": asset_url("get-involved/the-globe-church-serving_1280.jpg"),
          "1920": asset_url("get-involved/the-globe-church-serving_1920.jpg"),
          "2560": asset_url("get-involved/the-globe-church-serving_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is made up of all sorts of people'
      )
    %>

    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Serve at Globe Church</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">
      <p>The Bible describes the church as a body with many parts all uniquely gifted to serve. At The Globe Church we believe that everyone who joins us has been brought here by God to use their gifts in a whole variety of different ways. We need each other!</p>
      <p>What does this look like? It can be anything from caring for someone going through a tough time to serving up a meal on Sunday; from being a small group leader to helping with our homeless outreach.</p>
    </div>

  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Join us on Sunday', 'Pray with us', 'Membership', 'Serve at Globe Church', 'Trainee scheme'],
           current: 'Trainee scheme') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_url("get-involved/the-globe-church-training_320.jpg"),
          "640": asset_url("get-involved/the-globe-church-training_640.jpg"),
          "960": asset_url("get-involved/the-globe-church-training_960.jpg"),
          "1280": asset_url("get-involved/the-globe-church-training_1280.jpg"),
          "1920": asset_url("get-involved/the-globe-church-training_1920.jpg"),
          "2560": asset_url("get-involved/the-globe-church-training_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is made up of all sorts of people'
      )
    %>
    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Trainee scheme</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">
      <p>A large part of our role is to train up future gospel workers. Sometimes it is possible for someone to take a year to spend with the Globe Church team and get a closer look at what church based ministry looks like.</p>
      <p>Our church apprentices work alongside the staff team in all sorts of ministry and practical ways. They receive training from the Cornhill training course and from the Co-Mission monthly workshop.</p>
      <p>If you are interested in finding out more please <%= link_to('contact us', page_path('contact')) %>.</p>
    </div>

  </main>
</section>
