<%= render('/shared/join_us') %>

<%= render('/shared/internal_nav',
           sections: ['Sundays', 'Pray', 'Membership', 'Serve', 'Train'],
           current: 'Sundays') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_path("get-involved/the-globe-church-sunday_320.jpg"),
          "640": asset_path("get-involved/the-globe-church-sunday_640.jpg"),
          "960": asset_path("get-involved/the-globe-church-sunday_960.jpg"),
          "1280": asset_path("get-involved/the-globe-church-sunday_1280.jpg"),
          "1920": asset_path("get-involved/the-globe-church-sunday_1920.jpg"),
          "2560": asset_path("get-involved/the-globe-church-sunday_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is made up of all sorts of people'
      )
    %>

    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Sundays</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">
      <p>Our Sunday gathering is the heartbeat of The Globe Church. Everything else we do flows from the worship, preaching, and relationships enjoyed on a Sunday.</p>
      <p>We prize singing together in worship, praying as one, celebrating Christ’s death for us in communion, and listening to God’s Word through the reading and preaching of the Bible.</p>
      <p>Church family is just that – family. So we love for children to be part of our gathering. We provide a staffed creche for toddlers, and we print listening guides to help children navigate their way through the preaching.</p>
      <p>Our services are fairly informal and we enjoy a meal together afterwards.</p>

      <p><%= link_to('Calendar', page_path('events'), class: 'u-btn u-btn--arrowed u-btn--dark') %></p>
    </div>

  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Sundays', 'Pray', 'Membership', 'Serve', 'Train'],
           current: 'Pray') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_path("get-involved/the-globe-church-prayer_320.jpg"),
          "640": asset_path("get-involved/the-globe-church-prayer_640.jpg"),
          "960": asset_path("get-involved/the-globe-church-prayer_960.jpg"),
          "1280": asset_path("get-involved/the-globe-church-prayer_1280.jpg"),
          "1920": asset_path("get-involved/the-globe-church-prayer_1920.jpg"),
          "2560": asset_path("get-involved/the-globe-church-prayer_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is made up of all sorts of people'
      )
    %>

    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Pray</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">
      <p>The Bible shows us Christians in different places praying for one another. From the beginning of The Globe Church, a host of churches and individuals have generously prayed to see the church established and growing.</p>
      <p>Would you consider joining in this gospel partnership by praying for us? Everyone is welcome to participate in our <%= link_to('monthly Globe Central prayer gathering', page_path('events', anchor: "section:bible-study")) %>. You can also sign up to receive a prayer email where we’ll give you updates of what God is doing and how you can pray.</p>
      <p>Thank you for considering praying for us.</p>
    </div>

  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Sundays', 'Pray', 'Membership', 'Serve', 'Train'],
           current: 'Membership') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_path("get-involved/the-globe-church-membership_320.jpg"),
          "640": asset_path("get-involved/the-globe-church-membership_640.jpg"),
          "960": asset_path("get-involved/the-globe-church-membership_960.jpg"),
          "1280": asset_path("get-involved/the-globe-church-membership_1280.jpg"),
          "1920": asset_path("get-involved/the-globe-church-membership_1920.jpg"),
          "2560": asset_path("get-involved/the-globe-church-membership_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is made up of all sorts of people'
      )
    %>

    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Membership</h1>
      <h2 class="c-content-box__header__subtitle">Committing, needing, entrusting, giving</h2>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">

      <p>The Bible illustrates church membership through several word-pictures of the church. For example, we are parts of a body, bricks in a building, soldiers in an army, and perhaps most powerfully, members of one family. These pictures all contain the idea of belonging, which is much more than attending. Church isn’t supposed to be a spectator sport. It is much more of a family who are all involved in different ways to make the family work properly.</p>
      <p>Therefore, we believe that anyone who is trusting Jesus and has decided to make The Globe Church their ‘home’ is a member of the family.</p>
      <p>We then encourage those who are members at Globe Church to express that membership publicly by becoming part of our formal membership. Membership expresses a commitment to one local church family. It is also legally how we are constituted. We hold regular church members meetings, and any changes in church leadership need to be agreed by a vote of the membership.</p>
      <p>Becoming a member means simply filling in a form that contains these four ideas:</p>

      <p>
        <ol>
          <li>I commit (this is my church family)</li>
          <li>I need (I can’t go it alone)</li>
          <li>I entrust (I want this church to look out for me)</li>
          <li>I give (I want to be involved in the mission)</li>
        </ol>
      </p>

      <p>Membership forms can be found at the back of church. If you are interested, fill in a form or chat to one of the elders.</p>

    </div>

  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Sundays', 'Pray', 'Membership', 'Serve', 'Train'],
           current: 'Serve') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_path("get-involved/the-globe-church-serving_320.jpg"),
          "640": asset_path("get-involved/the-globe-church-serving_640.jpg"),
          "960": asset_path("get-involved/the-globe-church-serving_960.jpg"),
          "1280": asset_path("get-involved/the-globe-church-serving_1280.jpg"),
          "1920": asset_path("get-involved/the-globe-church-serving_1920.jpg"),
          "2560": asset_path("get-involved/the-globe-church-serving_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is made up of all sorts of people'
      )
    %>

    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Serve</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">
      <p>The Bible describes the church as a body with many parts all uniquely gifted to serve. At The Globe Church, we believe that everyone who joins us has been brought here by God to use their gifts in a variety of ways. We need each other.</p>
      <p>What does serving with us look like? It can look like anything from caring for someone going through a tough time to serving up a meal on Sunday, or from being a small group leader to helping with our homeless outreach in partnership with <a href="https://www.lcm.org.uk/what-we-do/homeless-and-marginalised/webber-street" target="_blank">Webber Street Day Care Centre</a>.</p>
      <p>At Globe Church, we want you to use the gifts God has given you to serve, and we want to help you develop those gifts.</p>
    </div>

  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Sundays', 'Pray', 'Membership', 'Serve', 'Train'],
           current: 'Train') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_path("get-involved/the-globe-church-training_320.jpg"),
          "640": asset_path("get-involved/the-globe-church-training_640.jpg"),
          "960": asset_path("get-involved/the-globe-church-training_960.jpg"),
          "1280": asset_path("get-involved/the-globe-church-training_1280.jpg"),
          "1920": asset_path("get-involved/the-globe-church-training_1920.jpg"),
          "2560": asset_path("get-involved/the-globe-church-training_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church is made up of all sorts of people'
      )
    %>
    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Train</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">
      <p>A large part of our role as a church is to train up future gospel workers. Sometimes it is possible for someone to spend a year with The Globe Church team and get a closer look at what church-based ministry looks like.</p>
      <p>Our apprentices work alongside the staff team in all sorts of ministry and practical ways. They receive training from either <a href="https://www.proctrust.org.uk/cornhill/" target="_blank">Cornhill</a>, <a href="https://crosslands.training/" target="_blank">Crosslands</a> or <a href="https://www.lcm.org.uk/get-involved/training" target="_blank">London City Mission</a>. Once a month they’ll attend the <a href="https://co-mission.org/training/" target="_blank">Co-Mission Monthly Workshop</a>. If you are interested in finding out more, please <%= link_to('contact us', page_path('contact')) %>.</p>
    </div>

  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Sundays', 'Pray', 'Membership', 'Serve', 'Train'],
           current: 'Giving') %>

<section class="c-content-box">

  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_path("static-banner/the-globe-church-preaching_320.jpg"),
          "640": asset_path("static-banner/the-globe-church-preaching_640.jpg"),
          "960": asset_path("static-banner/the-globe-church-preaching_960.jpg"),
          "1280": asset_path("static-banner/the-globe-church-preaching_1280.jpg"),
          "1920": asset_path("static-banner/the-globe-church-preaching_1920.jpg"),
          "2560": asset_path("static-banner/the-globe-church-preaching_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: 'The Globe Church'
      )
    %>
    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Giving to The Globe Church</h1>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">
      <blockquote class="st-blockquote">
        <div class="st-blockquote__body">
          <p>Each man should give what he has decided in his heart to give, not reluctantly or under compulsion, for God loves a cheerful giver. And God is able to make all grace abound to you, so that in all things at all times; having all that you need, you will abound in every good work.</p>
        </div>

        <footer class="st-blockquote__footer">
          - <cite>2 Corinthians 9:7-8</cite>
        </footer>
      </blockquote>

      <p>We're really grateful that you would consider donating to the ongoing gospel ministry through The Globe Church.</p>
      <p>There are different ways to give:</p>
      <ul>
        <li>We have an offering on the first Sunday of the month in our services</li>
        <li>You can give through bank transfer or by setting up a standing order to:
          <blockquote>
            The Globe Church<br />
            Sort Code: 20-80-57,<br />
            Account Number: 2016 8556<br />
          </blockquote>
        </li>
        <li>
          If you are a UK tax payer, please take two minutes to fill in this <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=R7O8stgi40izh0eD0zoTzIPy24B3dl1NtXixXJ46HBhUMDNZVTgxTEVXN0pFNUJVRVpRMVI4TzhCSSQlQCN0PWcu" target="_blank" rel="nopenner">online Gift Aid Form</a>. <em>You can also download <%=link_to('a gift aid form', '/assets/globe-gift-aid-form.pdf', { download: 'The Globe Church Gift Aid Form'} )%> and send it to finance@globe.church</em>.
        </li>
        <li>You can give online through <a href="https://www.give.net/20181404" rel="nopenner" target="_blank">Stewardship</a>.</li>
        <li>You can text GLOBE followed by your gift amount to 70085<br/>
          <em>e.g: GLOBE 5, GLOBE 10, GLOBE 20<br />
          Text messages are charged at the standard text price and the maximum donation is ₤20. Charged texts must be enabled by your service provider for this.</em>
        </li>
        <li>If you shop online, you can raise extra money for The Globe Church through <a href="https://www.easyfundraising.org.uk/causes/theglobechurch/" rel="nopenner" target="_blank">EasyFundraising</a> or <a href="https://smile.amazon.co.uk/ch/1160195-0" rel="nopenner" target="_blank">Amazon Smile</a>.</li>
      </ul>
      <p>If you have any questions about giving to the church, please <%= link_to('contact us', page_path('contact')) %>.</p>
    </div>

  </main>
</section>
