<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>Join us this Sunday</h1>
        <h2>4.30pm at Willcox House, 140-148 Borough High Street</h2>
        <a href="#" class="u-link u-link--arrowed u-link--black">
          <%= svg_tag('map') %>
          <span>View on a map</span>
        </a>
      </div>
    </main>
  </section>
</div>


<%= render('/shared/internal_nav',
           sections: ['Sundays', 'Bible Study', 'Prayer Meeting'],
           current: 'Sundays') %>


<section class="c-content-box">
  <header class="c-content-box__header">
      <%=
        responsive_image_tag(
          {
            "320": asset_url("when-and-where/the-globe-church-sunday_320.jpg"),
            "640": asset_url("when-and-where/the-globe-church-sunday_640.jpg"),
            "960": asset_url("when-and-where/the-globe-church-sunday_960.jpg"),
            "1280": asset_url("when-and-where/the-globe-church-sunday_1280.jpg"),
            "1920": asset_url("when-and-where/the-globe-church-sunday_1920.jpg"),
            "2560": asset_url("when-and-where/the-globe-church-sunday_2560.jpg"),
          },
          sizes: [
            '(max-width: 1200px) 1200px',
            '100vw'
          ],
          class: 'c-content-box__header__img',
          alt: ''
        )
      %>
      <div class="c-content-box__header__container">
          <h1 class="c-content-box__header__title">Sunday services</h1>
          <h2 class="c-content-box__header__subtitle">Every week at 4.30pm</h2>
      </div>
  </header>

  <main class="c-content-box__main">

    <div class="c-content-box__main__container">
      <p>Globe Church gathers every Sunday at 4.30pm to worship, to pray, to hear from God's word</p>
      <p>
        Current series:<br />
        <a class="u-link u-link--arrowed u-link--black">1 Corinthians: (un)Impressive</a>.
      </p>
    </div>

    <aside class="c-content-box__aside">
      <ul class="c-icon-list">

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('calendar', class: 'c-icon-list__item__icon') %>
            <span>
              Every Sunday
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('clock', class: 'c-icon-list__item__icon') %>
            <span>
              4.30pm
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('map', class: 'c-icon-list__item__icon') %>
            <span>
              140–148 Borough High Street
            </span>
          </a>
        </li>
      </ul>

      <a href="https://www.google.co.uk/maps/place/148+Borough+High+St,+London+SE1/" class="u-btn u-btn--dark u-btn--block" target="_blank">Get directions</a>
    </aside>

  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Sundays', 'Bible Study', 'Prayer Meeting'],
           current: 'Bible Study') %>

<section class="c-content-box">
  <header class="c-content-box__header">
      <%=
        responsive_image_tag(
          {
            "320": asset_url("when-and-where/the-globe-church-focus_320.jpg"),
            "640": asset_url("when-and-where/the-globe-church-focus_640.jpg"),
            "960": asset_url("when-and-where/the-globe-church-focus_960.jpg"),
            "1280": asset_url("when-and-where/the-globe-church-focus_1280.jpg"),
            "1920": asset_url("when-and-where/the-globe-church-focus_1920.jpg"),
            "2560": asset_url("when-and-where/the-globe-church-focus_2560.jpg"),
          },
          sizes: [
            '(max-width: 1200px) 1200px',
            '100vw'
          ],
          class: 'c-content-box__header__img',
          alt: ''
        )
      %>
      <div class="c-content-box__header__container">
          <h1 class="c-content-box__header__title">Globe Focus: Bible Study</h1>
          <h2 class="c-content-box__header__subtitle">Each Wednesday and Thursday from 7.00pm</h2>
      </div>
  </header>

  <main class="c-content-box__main">

    <div class="c-content-box__main__container">
      <p>Globe Church gathers every Sunday at 4.30pm to worship, to pray, to hear from God's word</p>
      <p>
        Current series:<br />
        <a class="u-link u-link--arrowed u-link--black">1 Corinthians: (un)Impressive</a>.
      </p>
    </div>

    <aside class="c-content-box__aside">
      <ul class="c-icon-list">

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('calendar', class: 'c-icon-list__item__icon') %>
            <span>
              Wednesday and Thursday
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('clock', class: 'c-icon-list__item__icon') %>
            <span>
              7.00pm for a meal<br />
              7.45pm for the study
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('map', class: 'c-icon-list__item__icon') %>
            <span>
              140–148 Borough High Street
            </span>
          </a>
        </li>
      </ul>

      <a href`="https://www.google.co.uk/maps/place/148+Borough+High+St,+London+SE1/" class="u-btn u-btn--dark u-btn--block" target="_blank">Get directions</a>
    </aside>

  </main>
</section>


<%= render('/shared/internal_nav',
           sections: ['Sundays', 'Bible Study', 'Prayer Meeting'],
           current: 'Prayer Meeting') %>

<section class="c-content-box">
  <header class="c-content-box__header">
    <%=
      responsive_image_tag(
        {
          "320": asset_url("when-and-where/the-globe-church-central_320.jpg"),
          "640": asset_url("when-and-where/the-globe-church-central_640.jpg"),
          "960": asset_url("when-and-where/the-globe-church-central_960.jpg"),
          "1280": asset_url("when-and-where/the-globe-church-central_1280.jpg"),
          "1920": asset_url("when-and-where/the-globe-church-central_1920.jpg"),
          "2560": asset_url("when-and-where/the-globe-church-central_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: ''
      )
    %>
    <div class="c-content-box__header__container">
        <h1 class="c-content-box__header__title">Globe Central: Prayer meeting</h1>
        <h2 class="c-content-box__header__subtitle">First Wednesday of the month</h2>
    </div>
  </header>

  <main class="c-content-box__main">

    <div class="c-content-box__main__container">
      <p>Globe Church gathers every Sunday at 4.30pm to worship, to pray, to hear from God's word</p>
      <p>
        Current series:<br />
        <a class="u-link u-link--arrowed u-link--black">1 Corinthians: (un)Impressive</a>.
      </p>
    </div>

    <aside class="c-content-box__aside">
      <ul class="c-icon-list">

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('calendar', class: 'c-icon-list__item__icon') %>
            <span>
              First Wednesday of the month
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('clock', class: 'c-icon-list__item__icon') %>
            <span>
              7.00pm for a meal<br />
              7.45pm for the study
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('map', class: 'c-icon-list__item__icon') %>
            <span>
              140–148 Borough High Street
            </span>
          </a>
        </li>
      </ul>

      <a href`="https://www.google.co.uk/maps/place/148+Borough+High+St,+London+SE1/" class="u-btn u-btn--dark u-btn--block" target="_blank">Get directions</a>
    </aside>

  </main>
</section>
