<%= render('/shared/join_us') %>

<%= render('/shared/internal_nav',
           sections: ['Sundays', 'Bible Study', 'Prayer Meeting'],
           current: 'Sundays') %>

<section class="c-content-box">
  <header class="c-content-box__header js-object-fit-container">
      <%=
        responsive_image_tag(
          {
            "320": asset_path("when-and-where/the-globe-church-sunday_320.jpg"),
            "640": asset_path("when-and-where/the-globe-church-sunday_640.jpg"),
            "960": asset_path("when-and-where/the-globe-church-sunday_960.jpg"),
            "1280": asset_path("when-and-where/the-globe-church-sunday_1280.jpg"),
            "1920": asset_path("when-and-where/the-globe-church-sunday_1920.jpg"),
            "2560": asset_path("when-and-where/the-globe-church-sunday_2560.jpg"),
          },
          sizes: [
            '(max-width: 1200px) 1200px',
            '100vw'
          ],
          class: 'c-content-box__header__img',
          alt: ''
        )
      %>
      <div class="c-content-box__header__container">
        <h1 class="c-content-box__header__title">Sunday services</h1>
        <h2 class="c-content-box__header__subtitle">Every week at 4.30pm</h2>
      </div>
  </header>

  <main class="c-content-box__main">

    <div class="c-content-box__main__container">
      <p>Getting together on a Sunday is the high point of our week. We gather because we want to worship God, help one another, and be challenged and encouraged by God’s Word.</p>
      <p>Our gathering has two parts. Firstly, there is the church service, which lasts about eighty minutes. During that time, we sing God’s praise, pray to him together as a church, and hear the Word of God preached. Secondly, we spend time as a church family talking and eating together. The hour after the service has become a brilliant time for us to build our family life as a church.</p>
      <p>Globe Kids and Globe Minis are our Sunday children's groups. Globe Minis is our group for babies to Year 4, and Globe Kids is for children and young people in Year 5 to Year 9. Our Kids group meets every other Sunday during the service, whilst Minis meet every week. This is a time crafted especially for children, with a focus on teaching them more about who Jesus is and what that means for them. A typical session involves Bible teaching, games, craft, sport, and play - all designed to help them get to grips with the person of Jesus in the Bible.</p>
    </div>

    <aside class="c-content-box__aside">
      <ul class="c-icon-list">

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('calendar', class: 'c-icon-list__item__icon') %>
            <span>
              Every Sunday
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('clock', class: 'c-icon-list__item__icon') %>
            <span>
              4.30pm
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('map', class: 'c-icon-list__item__icon') %>
            <address>
              Hodgkin Building,<br />
              Guy's Campus,<br />
              Newcomen Street,<br />
              SE1 1UL
            </address>
          </a>
        </li>
      </ul>

      <a href="https://goo.gl/maps/Qc3bUfA2arP2" class="u-btn u-btn--dark u-btn--block" target="_blank">Get directions</a>
    </aside>

  </main>
</section>

<%= render('/shared/internal_nav',
           sections: ['Sundays', 'Bible Study', 'Prayer Meeting'],
           current: 'Bible Study') %>

<section class="c-content-box">
  <header class="c-content-box__header js-object-fit-container">
      <%=
        responsive_image_tag(
          {
            "320": asset_path("when-and-where/the-globe-church-focus_320.jpg"),
            "640": asset_path("when-and-where/the-globe-church-focus_640.jpg"),
            "960": asset_path("when-and-where/the-globe-church-focus_960.jpg"),
            "1280": asset_path("when-and-where/the-globe-church-focus_1280.jpg"),
            "1920": asset_path("when-and-where/the-globe-church-focus_1920.jpg"),
            "2560": asset_path("when-and-where/the-globe-church-focus_2560.jpg"),
          },
          sizes: [
            '(max-width: 1200px) 1200px',
            '100vw'
          ],
          class: 'c-content-box__header__img',
          alt: ''
        )
      %>
      <div class="c-content-box__header__container">
          <h1 class="c-content-box__header__title">Globe Focus: Bible Study</h1>
          <h2 class="c-content-box__header__subtitle">Wednesdays and Thursdays from 7.00pm*</h2>
      </div>
  </header>

  <main class="c-content-box__main">

    <div class="c-content-box__main__container">
      <p>We all need church community and we all need God’s Word in our lives. That’s why gathering midweek is so important to us.</p>
      <p>Globe Focus is the best place to find your feet at church and go deep into the Bible with others. After eating a meal together, we enjoy a talk and a Bible study. We look at a rich variety of things together in Focus, from different books of the Bible to how we live out our faith practically in the world. Because relationships matter so much, we meet with the same people in our Bible study groups each week so we can get to know one another, pray together, and look out for one another.</p>
    </div>

    <aside class="c-content-box__aside">
      <ul class="c-icon-list">

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('calendar', class: 'c-icon-list__item__icon') %>
            <span>
              Wednesday and Thursday<br /><small>*except first in month for prayer meeting</small>
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('clock', class: 'c-icon-list__item__icon') %>
            <span>
              7.00pm for a meal<br />
              7.45pm for the study
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('map', class: 'c-icon-list__item__icon') %>
            <span>
              140–148 Borough High Street
            </span>
          </a>
        </li>
      </ul>

      <a href="https://www.google.co.uk/maps/place/140-148+Borough+High+St,+London+SE1" class="u-btn u-btn--dark u-btn--block" target="_blank">Get directions</a>
    </aside>

  </main>
</section>


<%= render('/shared/internal_nav',
           sections: ['Sundays', 'Bible Study', 'Prayer Meeting'],
           current: 'Prayer Meeting') %>

<section class="c-content-box">
  <header class="c-content-box__header js-object-fit-container">
    <%=
      responsive_image_tag(
        {
          "320": asset_path("when-and-where/the-globe-church-prayer_320.jpg"),
          "640": asset_path("when-and-where/the-globe-church-prayer_640.jpg"),
          "960": asset_path("when-and-where/the-globe-church-prayer_960.jpg"),
          "1280": asset_path("when-and-where/the-globe-church-prayer_1280.jpg"),
          "1920": asset_path("when-and-where/the-globe-church-prayer_1920.jpg"),
          "2560": asset_path("when-and-where/the-globe-church-prayer_2560.jpg"),
        },
        sizes: [
          '(max-width: 1200px) 1200px',
          '100vw'
        ],
        class: 'c-content-box__header__img',
        alt: ''
      )
    %>
    <div class="c-content-box__header__container">
        <h1 class="c-content-box__header__title">Globe Central: Prayer meeting</h1>
        <h2 class="c-content-box__header__subtitle">First Wednesday of the month</h2>
    </div>
  </header>

  <main class="c-content-box__main">

    <div class="c-content-box__main__container">
      <p>Prayer is the bedrock of all we do as a church because we don’t have the answers, God does. He’s the one we turn to again and again to give thanks and to ask him to work in our church, on the South Bank, and throughout the whole world.</p>
      <p>We kick off each month with Globe Central, our big prayer gathering. We eat, worship together and pray for a wide range of needs and people.</p>
    </div>

    <aside class="c-content-box__aside">
      <ul class="c-icon-list">

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('calendar', class: 'c-icon-list__item__icon') %>
            <span>
              First Wednesday of the month
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('clock', class: 'c-icon-list__item__icon') %>
            <span>
              7.00pm for a meal<br />
              7.45pm for prayer
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('map', class: 'c-icon-list__item__icon') %>
            <span>
              140–148 Borough High Street
            </span>
          </a>
        </li>
      </ul>

      <a href="https://www.google.co.uk/maps/place/140-148+Borough+High+St,+London+SE1" class="u-btn u-btn--dark u-btn--block" target="_blank">Get directions</a>
    </aside>

  </main>
</section>
