<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>Join us this Sunday</h1>
        <h2>4pm at Wilcox House, 140-148 Borough High Street</h2>
        <a href="#" class="u-link u-link--arrowed u-link--black">
          <%= svg_tag('map') %>
          <span>View on a map</span>
        </a>
      </div>
    </main>
  </section>
</div>

<div class="c-internal-nav" id="section:sundays">
  <ul class="c-internal-nav__list">
    <li class="c-internal-nav__item">
      <a href="#section:sundays" class="c-internal-nav__link c-internal-nav__link--active">Sundays</a>
    </li>

    <li class="c-internal-nav__item">
      <a href="#section:focus" class="c-internal-nav__link">Bible study</a>
    </li>

    <li class="c-internal-nav__item">
      <a href="#section:central" class="c-internal-nav__link">Prayer meeting</a>
    </li>
  </ul>
</div>


<section class="c-content-box">
  <header class="c-content-box__header">
      <img src="/assets/img/templates/series-and-resources/img/series-and-resources-banner-960.jpg" srcset="/assets/img/templates/series-and-resources/img/series-and-resources-banner-320.jpg 320w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-640.jpg 640w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-960.jpg 960w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-1280.jpg 1280w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-1920.jpg 1920w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-2560.jpg 2560w,"
          alt="Sunday services" class="c-content-box__header__img" />

      <div class="c-content-box__header__container">
          <h1 class="c-content-box__header__title">Sunday services</h1>
          <h2 class="c-content-box__header__subtitle">Every week at 4.30pm</h2>
      </div>
  </header>

  <main class="c-content-box__main">

    <div class="c-content-box__main__container">
      <p>Globe Church gathers every Sunday at 4.30pm to worship, to pray, to hear from God's word</p>
      <p>
        Current series:<br />
        <a class="u-link u-link--arrowed u-link--black">1 Corinthians: (un)Impressive</a>.
      </p>
    </div>

    <aside class="c-content-box__aside">
      <ul class="c-icon-list">

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('calendar', class: 'c-icon-list__item__icon') %>
            <span>
              Every Sunday
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('clock', class: 'c-icon-list__item__icon') %>
            <span>
              4.30pm
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('map', class: 'c-icon-list__item__icon') %>
            <span>
              140–148 Borough High Street
            </span>
          </a>
        </li>
      </ul>

      <a href`="https://www.google.co.uk/maps/place/148+Borough+High+St,+London+SE1/" class="u-btn u-btn--dark" target="_blank">Get directions</a>
    </aside>

  </main>
</section>

<div class="c-internal-nav" id="section:focus">
  <ul class="c-internal-nav__list">
    <li class="c-internal-nav__item">
      <a href="#section:sundays" class="c-internal-nav__link">Sundays</a>
    </li>

    <li class="c-internal-nav__item">
      <a href="#section:focus" class="c-internal-nav__link c-internal-nav__link--active">Bible study</a>
    </li>

    <li class="c-internal-nav__item">
      <a href="#section:central" class="c-internal-nav__link">Prayer meeting</a>
    </li>
  </ul>
</div>


<section class="c-content-box">
  <header class="c-content-box__header">
      <img src="/assets/img/templates/series-and-resources/img/series-and-resources-banner-960.jpg" srcset="/assets/img/templates/series-and-resources/img/series-and-resources-banner-320.jpg 320w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-640.jpg 640w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-960.jpg 960w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-1280.jpg 1280w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-1920.jpg 1920w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-2560.jpg 2560w,"
          alt="Sunday services" class="c-content-box__header__img" />

      <div class="c-content-box__header__container">
          <h1 class="c-content-box__header__title">Globe Focus: Bible Study</h1>
          <h2 class="c-content-box__header__subtitle">Each Wednesday and Thursday from 7.00pm</h2>
      </div>
  </header>

  <main class="c-content-box__main">

    <div class="c-content-box__main__container">
      <p>Globe Church gathers every Sunday at 4.30pm to worship, to pray, to hear from God's word</p>
      <p>
        Current series:<br />
        <a class="u-link u-link--arrowed u-link--black">1 Corinthians: (un)Impressive</a>.
      </p>
    </div>

    <aside class="c-content-box__aside">
      <ul class="c-icon-list">

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('calendar', class: 'c-icon-list__item__icon') %>
            <span>
              Wednesday and Thursday
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('clock', class: 'c-icon-list__item__icon') %>
            <span>
              7.00pm for a meal<br />
              7.45pm for the study
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('map', class: 'c-icon-list__item__icon') %>
            <span>
              140–148 Borough High Street
            </span>
          </a>
        </li>
      </ul>

      <a href`="https://www.google.co.uk/maps/place/148+Borough+High+St,+London+SE1/" class="u-btn u-btn--dark" target="_blank">Get directions</a>
    </aside>

  </main>
</section>


<div class="c-internal-nav" id="section:central">
  <ul class="c-internal-nav__list">
    <li class="c-internal-nav__item">
      <a href="#section:sundays" class="c-internal-nav__link">Sundays</a>
    </li>

    <li class="c-internal-nav__item">
      <a href="#section:focus" class="c-internal-nav__link">Bible study</a>
    </li>

    <li class="c-internal-nav__item">
      <a href="#section:central" class="c-internal-nav__link c-internal-nav__link--active">Prayer meeting</a>
    </li>
  </ul>
</div>


<section class="c-content-box">
  <header class="c-content-box__header">
    <img src="/assets/img/templates/series-and-resources/img/series-and-resources-banner-960.jpg" srcset="/assets/img/templates/series-and-resources/img/series-and-resources-banner-320.jpg 320w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-640.jpg 640w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-960.jpg 960w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-1280.jpg 1280w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-1920.jpg 1920w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-2560.jpg 2560w,"
        alt="Sunday services" class="c-content-box__header__img" />

    <div class="c-content-box__header__container">
        <h1 class="c-content-box__header__title">Globe Central: Prayer meeting</h1>
        <h2 class="c-content-box__header__subtitle">First Wednesday of the month</h2>
    </div>
  </header>

  <main class="c-content-box__main">

    <div class="c-content-box__main__container">
      <p>Globe Church gathers every Sunday at 4.30pm to worship, to pray, to hear from God's word</p>
      <p>
        Current series:<br />
        <a class="u-link u-link--arrowed u-link--black">1 Corinthians: (un)Impressive</a>.
      </p>
    </div>

    <aside class="c-content-box__aside">
      <ul class="c-icon-list">

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('calendar', class: 'c-icon-list__item__icon') %>
            <span>
              First Wednesday of the month
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('clock', class: 'c-icon-list__item__icon') %>
            <span>
              7.00pm for a meal<br />
              7.45pm for the study
            </span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a>
            <%= svg_tag('map', class: 'c-icon-list__item__icon') %>
            <span>
              140–148 Borough High Street
            </span>
          </a>
        </li>
      </ul>

      <a href`="https://www.google.co.uk/maps/place/148+Borough+High+St,+London+SE1/" class="u-btn u-btn--dark" target="_blank">Get directions</a>
    </aside>

  </main>
</section>
