<section class="c-banner js-object-fit-container">
  <%= responsive_image_tag(banner['image'],
                           sizes: ['100vw'],
                           class: "c-banner__img",
                           alt: banner['title']) if banner['image'] %>
  
  <% unless banner['hide-text'] %>
  <div class="c-banner__text">
    <div class="site-container">
      <% if banner['pretitle'] %>
      <p class="c-banner__pretitle"><%= banner['pretitle'] %></p>
      <% end %>

      <% if banner['title'] %>
      <h1 class="c-banner__title"><%= banner['title'] %></h1>
      <% end %>

      <% if banner['subtitle'] %>
      <h2 class="c-banner__subtitle"><%= banner['subtitle'] %></h2>
      <% end %>

      <% if banner['biblereference'] %>
      <p class="c-banner__reference">
        <%= svg_tag('bible', { class: 'c-banner__reference__icon' }) %>
        <%= link_to("https://www.biblegateway.com/passage/?search=#{banner['biblereference']}&version=NIVUK", {target: "_blank", rel: "noopener"}) do %>
          <span><%= banner['biblereference'] %></span>
        <% end %>
      </p>
      <% end %>
    </div>
  </div>
  <% end %>
  
</section>
