<footer class="c-footer site-container">

  <nav class="c-footer__meganav">
    <div class="c-footer-nav-list">
      <h2 class="c-footer-nav-list__title">
        <%= link_to('About the church', page_path('about')) %>
      </h2>

      <ul class="c-footer-nav-list__items">
        <li class="c-footer-nav-list__item">
          <%= link_to('Church values', page_path('about')) %>
        </li>

        <li class="c-footer-nav-list__item">
          <%= link_to('Elders and staff', page_path('about/team')) %>
        </li>

        <li class="c-footer-nav-list__item">
          <%= link_to('What we believe', page_path('about/doctrinal-basis')) %>
        </li>

        <li class="c-footer-nav-list__item">
          <%= link_to('Jobs', page_path('about/jobs')) %>
        </li>
      </ul>
    </div>

    <div class="c-footer-nav-list">
      <h2 class="c-footer-nav-list__title">
        <%= link_to('Calendar', page_path('events')) %>
      </h2>

      <ul class="c-footer-nav-list__items">
        <li class="c-footer-nav-list__item">
          <%= link_to('Sundays', page_path('events', anchor: "section:sundays")) %>
        </li>

        <li class="c-footer-nav-list__item">
          <%= link_to('Bible study', page_path('events', anchor: "section:bible-study")) %>
        </li>

        <li class="c-footer-nav-list__item">
          <%= link_to('Prayer meeting', page_path('events', anchor: "section:prayer-meeting")) %>
        </li>

        <li class="c-footer-nav-list__item">
          <%= link_to('All events', page_path('events')) %>
        </li>
      </ul>
    </div>

    <div class="c-footer-nav-list">
      <h2 class="c-footer-nav-list__title">
        <%= link_to('Series & resources', page_path('preaching')) %>
      </h2>

      <ul class="c-footer-nav-list__items">
        <li class="c-footer-nav-list__item">
          <%= link_to('All series', page_path('preaching')) %>
        </li>

        <li class="c-footer-nav-list__item">
          <%= link_to('Blog posts', page_path('blog')) %>
        </li>

        <!--<li class="c-footer-nav-list__item">
          <a href="#">
            All resources
          </a>
        </li>-->

        <!--<li class="c-footer-nav-list__item">
          <a href="#">
            Latest sermon
          </a>
        </li>-->
      </ul>
    </div>

    <div class="c-footer-nav-list">
      <h2 class="c-footer-nav-list__title">
        <%= link_to('Get involved', page_path('get-involved')) %>
      </h2>

      <ul class="c-footer-nav-list__items">

        <li class="c-footer-nav-list__item">
          <%= link_to('Pray', page_path('get-involved', anchor: "section:pray-with-us")) %>
        </li>

        <li class="c-footer-nav-list__item">
          <%= link_to('Membership', page_path('get-involved', anchor: "section:membership")) %>
        </li>

        <li class="c-footer-nav-list__item">
          <%= link_to('Serving', page_path('get-involved', anchor: "section:serve-at-globe-church")) %>
        </li>

        <li class="c-footer-nav-list__item">
          <%= link_to('Trainee Scheme', page_path('get-involved', anchor: "section:trainee-scheme")) %>
        </li>

        <li class="c-footer-nav-list__item">
          <%= link_to('Giving', page_path('get-involved', anchor: "section:giving")) %>
        </li>

      </ul>

    </div>

    <div class="c-footer-nav-list">
      <h2 class="c-footer-nav-list__title">
        <%= link_to('Stay in touch', page_path('contact')) %>  
      </h2>

      <ul class="c-footer-nav-list__items">
        <li class="c-footer-nav-list__item">
          <a href="mailto:info@globe.church">
            info@globe.church
          </a>
        </li>

        <li class="c-footer-nav-list__item">
          <%= link_to('Church news', page_path('contact', anchor: "newsletter"))%>
        </li>
      </ul>
    </div>

  </nav>

  <div class="c-footer__extra">
    <div class="c-footer__copyright">
      <span>&copy; Copyright <%= Time.current.year %> The Globe Church, London</span>
      <span>Registered Charity 1160195</span>
      <span><a href="/privacy">Privacy Policy</a></span>
    </div>

    <div class="c-footer__affiliation">
      <a class="c-footer__affiliation-link" href="https://co-mission.org/" target="_blank" rel="noopener" title="The Globe Church is affiliated with Co-Mission">
        <%= svg_tag('comission-themed', { class: 'c-footer__affiliation__comisson' }) %>
      </a>

      <a class="c-footer__affiliation-link" href="https://fiec.org.uk/" target="_blank" rel="noopener" title="The Globe Church is supported by the Fellowshop of Independent Evangelical Churches">
        <%= svg_tag('fiec-themed', { class: 'c-footer__affiliation__fiec' }) %>
      </a>
    </div>
  </div>

</footer>
