<div class="c-main-nav">
  <ul class="c-main-nav__list">
    <li class="c-main-nav__list__item">
      <%= link_to('Home', root_path) %>
    </li>

    <li class="c-main-nav__list__item">
      <%= link_to('About', page_path('about')) %>
    </li>

    <li class="c-main-nav__list__item">
      <%= link_to('When & where', page_path('when-and-where')) %>
    </li>

    <li class="c-main-nav__list__item">
      <%= link_to('Preaching', preaching_path) %>
    </li>

    <li class="c-main-nav__list__item">
      <%= link_to('Get involved', page_path('get-involved')) %>
    </li>

    <li class="c-main-nav__list__item">
      <%= link_to('Contact', page_path('contact')) %>  
    </li>
  </ul>
  
  <div class="c-social-gems">
    <a href="https://twitter.com/theglobechurch" class="c-social-gems__stone c-social-gems__stone--twitter" target="_blank" rel="noopener" title="Follow The Globe Church on Twitter" data-eventcategory="Main Nav/Social Media" data-eventaction="Click" data-eventlabel="Twitter">
      <%= svg_tag('twitter', { class: 'c-social-gems__stone__icon' }) %>
    </a>

    <a href="https://facebook.com/theglobechurch" class="c-social-gems__stone c-social-gems__stone--facebook" target="_blank" rel="noopener" title="Like The Globe Church on Facebook" data-eventcategory="Main Nav/Social Media" data-eventaction="Click" data-eventlabel="Facebook">
      <%= svg_tag('facebook', { class: 'c-social-gems__stone__icon' }) %>
    </a>

    <a href="https://instagram.com/theglobechurch" class="c-social-gems__stone c-social-gems__stone--instagram" target="_blank" rel="noopener" title="Enjoy The Globe Church photos on Instagram" data-eventcategory="Main Nav/Social Media" data-eventaction="Click" data-eventlabel="Instagram">
      <%= svg_tag('instagram', { class: 'c-social-gems__stone__icon' }) %>
    </a>
  </div>
</div>
