<section class="c-content-box">
  <main class="c-content-box__main">
    <div class="c-content-box__main__container">
      <ul class="c-icon-list c-icon-list--small">
        <% if @resource.display_date %>
        <li class="c-icon-list__item">
          <%= svg_tag('calendar', class: 'c-icon-list__item__icon') %>
          <span><%= l @resource.display_date.to_date, format: :long %></span>
        </li>
        <% end %>

        <% if @resource.person %>
        <li class="c-icon-list__item">
          <%= svg_tag('person', class: 'c-icon-list__item__icon') %>
          <span><%= @resource.person.display_name %></span>
        </li>
        <% end %>
      </ul>
      <p><%= @resource.introduction %></p>
    </div>

    <% if !@resource.upload.nil? %>
    <aside class="c-content-box__aside">
      <ul class="c-icon-list">
        <li class="c-icon-list__item">
          <a href="#" class="u-link u-link--arrowed u-link--black js-audio-start-link" data-eventcategory="Audio Player" data-eventaction="Play/Pause" data-eventlabel="<%= "#{@resource.groupings.first.title}/#{@resource.title}" %>">
            <%= svg_tag('listen', { class: 'c-icon-list__item__icon' }) %>
            <span>Listen now</span>
          </a>
        </li>

        <li class="c-icon-list__item">
          <a href="<%= @resource.upload.file.remote_url %>" download="TheGlobeChurch-<%= @resource.slug %>" class="u-link u-link--arrowed u-link--black" data-eventcategory="Audio Player" data-eventaction="Download" data-eventlabel="<%= "#{@resource.groupings.first.title}/#{@resource.title}" %>">
            <%= svg_tag('download', { class: 'c-icon-list__item__icon' }) %>
            <span>Download</span>
          </a>
        </li>

        <!--<li class="c-icon-list__item">
          <a href="#" class="u-link u-link--arrowed u-link--black">
            <%= svg_tag('subscribe', { class: 'c-icon-list__item__icon' }) %>
            <span>Subscribe</span>
          </a>
        </li>-->
      </ul>
    </aside>
    <% end %>
  </main>
</section>

<% if !@resource.upload.nil? && @resource.upload.meta['type'] == 'audio' %>
  <%= render 'shared/audio_player', audio: @resource.upload, title: @resource.title %>
<% end %>

<% if @resource.children.length > 0 %>

  <%= render('/shared/blog_list',
    list: @resource.children.find_all{ |c| c.resource_type == 'blog' }, 
    list_title: 'Related blog posts',
    verb: 'Read') if @resource.children.count{ |c| c.resource_type == 'blog' } %>
    
<% end %>

<% unless @resource.groupings.nil? %>
  <%= render('/shared/promo_box',
    img: @resource.groupings.first.graphic.background_image_size_urls,
    link: "#{preaching_path()}/#{@resource.groupings.first.slug}",
    title: "#{@resource.groupings.first.title}",
    pretitle: 'This recording is part of…',
    cta: 'Go to full sermon series') %>
<% end %>
