<%= form_for([:admin, @person], html: { class: 'form m-admin-body' }) do |f| %>
<section class="m-admin-body--main">
  <% if @person.errors.any? %>
    <div>
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this <%= @person.class.to_s.downcase %> from being saved:</h2>
      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form__field form__field--main" data-name="first_name">
    <%= f.label :first_name, class: 'form__label' %>
    <%= f.text_field :first_name, class: 'form__input' %>
  </div>

  <div class="form__field form__field--main" data-name="last_name">
    <%= f.label :last_name, class: 'form__label' %>
    <%= f.text_field :last_name, class: 'form__input' %>
  </div>

  <div class="form__field form__field--main" data-name="display_name">
    <%= f.label :display_name, class: 'form__label' %>
    <%= f.text_field :display_name, class: 'form__input' %>
  </div>

  <div class="form__field form__field--main" data-name="job_title">
    <%= f.label :job_title, class: 'form__label' %>
    <%= f.text_field :job_title, class: 'form__input' %>
  </div>

  <div class="form__field form__field--main" data-name="biography_short">
    <%= f.label :biography_short, class: 'form__label' %>
    <%= f.text_area :biography_short, class: 'form__input' %>
  </div>

  <div class="form__field" data-name="biography">
    <%= f.label :biography, class: 'form__label form__field--main' %>
    <%= f.text_area :biography, class: 'js-st' %>
  </div>

</section>

<section class="m-admin-body--sidebar">
  <%= f.submit 'Save', class: 'form__submit u-btn u-btn--primary u-btn--100' %>

  <hr />

  <div class="form__field" data-name="avatar_original">
    <%= f.label :avatar_original, 'Photo', class: 'form__label' %>
    <%= image_tag(@person.avatar_150.try('remote_url'), class: 'imgCircle') if @person.avatar_150 %>
    <%= f.file_field :avatar_original, class: 'form__input' %>
  </div>

  <hr />

  <div class="form__field">
    <%= f.label :page, 'Person has bio page?', class: 'form__label form__label--radio' do %>
      <%= f.check_box :page, class: '' %>
      <span>Has profile page?</span>
    <% end %>
  </div>

  <hr />

  <div class="form__field">
    <%= f.label :team, class: 'form__label' %>
    <%= f.select :team_ids, @teams.pluck(:name, :id), { include_blank: 'No team' }, class: 'form__input form__input--multiselect', multiple: true %>
  </div>

  <hr />

  Advanced

  <div class="form__field">
    <% f.label :slug, class: 'form__label' %>
    <%= f.text_field :slug, class: 'form__input js-slug-field', data: {'from-input-id': 'person_display_name'} %>
  </div>

</section>

<% end %>
