<main class="m-admin-body">

  <section class="m-admin-body--main">
    <header>
      <h1>People</h1>
    </header>

    <ul>
    <% @people.each do | person | %>
      <li class="a-resource">
        <div class="a-resource__details">
          <label class="a-resource__type">
            <%= person.job_title %>
          </label>
          <h2 class="a-resource__title"><%= person.first_name %> <%= person.last_name %></h2>
        </div>
        <div class="a-resource__actions">
          <%= link_to "Edit", edit_admin_person_path(person), class: 'u-btn' %>
        </div>
      </li>
    <% end %>
    </ul>
  </section>

  <section class="m-admin-body--sidebar">
    <%= link_to "Create new", new_admin_person_path(), class: 'u-btn u-btn--primary' %>
  </section>

</main>
