<%= form_for(@user, url: { :action => "update_password" }, html: { class: 'form m-admin-body' } ) do |f| %>

  <section class="m-admin-body--main">
    <p class="form__field form__field--main">Update your password:</p>
    <div class="form__field form__field--main">
      <%= f.label :password, "Password", class: 'form__label' %>
      <%= f.password_field :password, autocomplete: "off", class: 'form__input'  %>
    </div>
    <div class="form__field form__field--main">
      <%= f.label :password_confirmation, class: 'form__label' %>
      <%= f.password_field :password_confirmation, class: 'form__input' %>
    </div>
  </section>

  <section class="m-admin-body--sidebar">
    <%= render('admin/shared/form_errors', m: @user) %>
    <%= f.submit 'Update', class: 'form__submit u-btn u-btn--primary u-btn--100' %>
  </section>
<% end %>
