<!DOCTYPE html>
<html>
  <head>
    <title>Globe Admin</title>
    <%#= stylesheet_link_tag 'admin', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>


    <% if Rails.env.development? %>
    <%= javascript_include_tag 'vendors' %>
    <% end %>
    <%= javascript_include_tag 'bundle' %>
  </body>
</html>
