<!DOCTYPE html>
<html>
  <head>
    <title>Globe Admin</title>
    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header class="m-admin-header">
      <a href="#" class="m-admin-header--menu js-admin-nav-toggle">
        <%= svg_tag('admin-menu', class: 'js-admin-nav-icon')%>
      </a>

      <div class="m-admin-header--logo">
        <%= link_to svg_tag('tgc-logo-long-no-ring-themed'), "/" %>
      </div>

      <div class="m-admin-header--user">
        <%= image_tag(gravatar_url(current_user.email, {size: 55, d: 'mm'}),
                      srcset: "#{gravatar_url(current_user.email, {size: 110, d: 'mm'})} 2x",
                      alt: 'My account') %>
        
        <ul class="m-admin-header--user--subnav">
          <li><%= link_to "Sign out", destroy_user_session_path %></li>
          <li><%= link_to "Change your password", edit_admin_user_path %></li>
        </ul>
      </div>
    </header>

    <nav class="m-admin-nav js-admin-nav">
      <%= link_to(admin_resources_path, class: 'm-admin-nav--link') do %>
        <%= svg_tag('admin-menu', class: 'm-admin-nav--link--icon')%>
        <span class='m-admin-nav--link--text'>Resources</span>
      <% end %>

      <%= link_to(admin_groupings_path, class: 'm-admin-nav--link') do %>
        <%= svg_tag('admin-menu', class: 'm-admin-nav--link--icon')%>
        <span class='m-admin-nav--link--text'>Groups and Series</span>
      <% end %>

      <%= link_to(admin_people_path, class: 'm-admin-nav--link') do %>
        <%= svg_tag('admin-menu', class: 'm-admin-nav--link--icon')%>
        <span class='m-admin-nav--link--text'>People</span>
      <% end %>

      <%= link_to(admin_teams_path, class: 'm-admin-nav--link') do %>
        <%= svg_tag('admin-menu', class: 'm-admin-nav--link--icon')%>
        <span class='m-admin-nav--link--text'>Teams</span>
      <% end %>

      <%= link_to(admin_resources_path, class: 'm-admin-nav--link') do %>
        <%= svg_tag('admin-menu', class: 'm-admin-nav--link--icon')%>
        <span class='m-admin-nav--link--text'>Events</span>
      <% end %>

      <%= link_to(admin_resources_path, class: 'm-admin-nav--link') do %>
        <%= svg_tag('admin-menu', class: 'm-admin-nav--link--icon')%>
        <span class='m-admin-nav--link--text'>Graphics</span>
      <% end %>
    </nav>

    <%= yield %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <script>
      window.__assets = {
        externalSirTrevorIcons: '<%= asset_path('sir-trevor-icons.svg') %>'
      };
    </script>

    <% if Rails.env.development? %>
    <%= javascript_include_tag 'vendors' %>
    <% end %>
    <%= javascript_include_tag 'bundle' %>
  </body>
</html>
