<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
  <head>
    <title>
      <%= 'The Globe Church | ' if banner['title'] != 'The Globe Church'%>
      <%= banner['title'] if banner['title'] %>
    </title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= render "globals/favicon" %>
    <%= render "globals/meta_tags" %>

    <%= stylesheet_link_tag 'tgc-fractal', media: 'screen' %>
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=Element.prototype.classList,es6,Element.prototype.dataset,Array.prototype.forEach"></script>
    <%#= csrf_meta_tags %>

    <% if Rails.env.production? %>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-K5WB4B6');</script>
    <% end %>

    <link rel="author" href="humans.txt" />
  </head>

  <body>
    <% if Rails.env.production? %>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5WB4B6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <% end %>
    
    <%= render "globals/header" %>
    <%= render "globals/alert_banner",
               alert_type: 'warn',
               alert_tag: 'We\'ve moved!',
               alert_message: "".html_safe + "Our Sunday service is now meeting in the Hodgkin Building on Guy's Campus. " + link_to('See a map', 'https://goo.gl/maps/Qc3bUfA2arP2') + "." %>

    <main class="c-main<%= ' c-main--no-banner' if banner['size'] == 'none' %>" role="main">
      <%= render "globals/banner" if banner != {} && banner['size'] != 'none' %>
      <%= yield %>
    </main>

    <%= render "globals/footer" %>
    <%= render "globals/main_nav" %>
    
    <%= javascript_include_tag 'tgc-fractal' %>
  </body>
</html>
