<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= 'The Globe Church | ' if banner['title'] != 'The Globe Church'%>
      <%= banner['title'] if banner['title'] %>
    </title>
    <%= stylesheet_link_tag 'tgc-fractal', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render "globals/header" %>

    <main class="c-main" role="main">

      <%= render "globals/banner" if banner != {} %>
      <%= yield(:page_title) %>
      <%= yield %>
    </main>

    <%= render "globals/footer" %>
    <%= render "globals/main_nav" %>
    

    <%= javascript_include_tag 'tgc-fractal' %>
  </body>
</html>
